@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0;}

.account-main1{ color:#fff; background: -webkit-linear-gradient(#f5b538, #f4950a); background: -o-linear-gradient(#f5b538, #f4950a); background: -moz-linear-gradient(#f5b538, #f4950a);background: linear-gradient(#f5b538, #f4950a); padding-top:0;}
.account-main1 .account-main1-header{ margin-bottom:25px;}
.account-main1 .account-main1-header a.ui-link, .account-main1 .account-main1-header a.ui-link:visited, .account-main1 .account-main1-header a.ui-link:hover, .account-main1 .account-main1-header a.ui-link:active { color:#fff;}
.account-main1 .account-main1-header a.account-main1-settings{ font-size:15px;}
.account-main1 .account-main1-header a.account-main1-message{ text-align:right;}
.account-main1 .account-main1-header a.account-main1-message img{ max-width:52px; max-height:39px; width:75%;}
.account-main1 .account-main1-assets .account-assets-total{ text-align:center;}
.account-main1 .account-main1-assets p.word{ font-size:12px;}
.account-main1 .account-main1-assets .account-assets-total p.number{ font-size:30px;}
.account-main1 .account-assets-profit{ padding:14px 0; background:rgba(0, 0, 0, 0.1); margin-top:10px;}
.account-main1 .account-assets-profit li{float:left; width:49%; text-align:center; border-left:1px solid #fff;}
.account-main1 .account-assets-profit li:first-child{ border-left:none;}
.account-main1 .account-assets-profit li p.number{ font-size:16px;}
.account-main2{ background:#fff; padding:20px 0;}
.account-main2 li{ width:25%; text-align:center; float:left; font-size:15px;}
.account-main2 li a{ display:block; width:100%;}
.account-main2 a.ui-link, .account-main2 a.ui-link:hover, .account-main2 a.ui-link:visited, .account-main2 a.ui-link:active{ color:#666666;}
.account-main2 li img{ width:26px; height:21px; margin-bottom:5px;}
.account-list .list-left img{ width:15px; height:16px; margin-right:10px; margin-top:-2px;}
.transaction-record-main{ padding-top:0;}
.transaction-record-main ol li{ border-bottom:1px solid #e5e5e5; padding:10px 0; color:#898989;}
.transaction-record-main ol li p.transaction-record-item{ font-size:15px;}
.transaction-record-main ol li p.transaction-record-time{ font-size:13px;}
.transaction-record-main ol li p.transaction-record-item span{ float:left;}
.transaction-record-main ol li p.transaction-record-item b{ color:#f4950a; padding-left:5px; float:right;}
.transaction-record-main ol li p.transaction-record-time{ text-align:right; margin-top:10px;}
.personal-set-btn a.ui-link, .personal-set-btn a.ui-link:visited, .personal-set-btn a.ui-link:hover, .personal-set-btn a.ui-link:active{color:#fff; display:block; background:#f4950a; height:36px;line-height:36px; margin-top:20%; text-align:center; font-size:18px; border-radius:5px;}
.name-certified-list li .list-right span, .name-nocertified-list li .list-right span{ color:#c9caca;}
.name-certified-profit, .rename-user-profit{ text-align:center; font-size:12px; color:#898989; padding-top:10px;}
.submit-btn input{ width:100%; color:#fff; background:#f4950a; margin-top:15px; text-align:center; font-size:18px; border-radius:5px;font-family: "微软雅黑";}
.name-nocertified-list .list-right input{ font-size:1em;height: initial;line-height: inherit;vertical-align: baseline; text-align:right;}
.personal-input-common input{height: initial;line-height: inherit; padding-left:0; width:100%;}
.rename-user-profit{ text-align:left;}
.rechwith-list li .list-right span{ color:#f4950a;}
.bank-bg{border-radius:5px; text-align:center; color:#fff;} 
.bank-bg p{ margin:0 2%; padding:15px 0;}
.bank-bg p.bank-name{ font-size:20px; border-bottom:1px solid #fff;}
.bank-bg p.bank-number{ font-size:16px;}
.bank-ICBC{ background:#ee6b6b url(../images/bank/icbc.png) no-repeat right bottom; background-size:40%;}
.bank-ABC{ background:#57d1cc url(../images/bank/abc.png) no-repeat right bottom; background-size:40%;}
.bank-BOC{ background:#ee6458 url(../images/bank/boc.png) no-repeat right bottom; background-size:40%;}
.bank-BOCOM{ background:#6883da url(../images/bank/bocom.png) no-repeat right bottom; background-size:40%;}
.bank-CCB{ background:#5992d5 url(../images/bank/ccb.png) no-repeat right bottom; background-size:40%;}
.bank-CEB{ background:#ed9393 url(../images/bank/ceb.png) no-repeat right bottom; background-size:40%;}
.bank-CIB{ background:#4f91d8 url(../images/bank/cib.png) no-repeat right bottom; background-size:40%;}
.bank-CITIC{ background:#f3848a url(../images/bank/citic.png) no-repeat right bottom; background-size:40%;}
.bank-CMB{ background:#eb6c5b url(../images/bank/cmb.png) no-repeat right bottom; background-size:40%;}
.bank-CMBC{ background:#7ce5b4 url(../images/bank/cmbc.png) no-repeat right bottom; background-size:40%;}
.bank-GDB{ background:#f06f87 url(../images/bank/gdb.png) no-repeat right bottom; background-size:40%;}
.bank-HXB{ background:#f3837c url(../images/bank/hxb.png) no-repeat right bottom; background-size:40%;}
.bank-PSBC{ background:#70e5ac url(../images/bank/psbc.png) no-repeat right bottom; background-size:40%;}
.bank-SPDB{ background:#6fabe3 url(../images/bank/spdb.png) no-repeat right bottom; background-size:40%;}
.rechwith-list .money-text .list-left{ color:#595757;}
.rechwith-list .money-text .list-right input{ height:inherit; line-height:inherit; font-size:1em; vertical-align:baseline; margin-left:1%}
.rechwith-profit{ color:#c9caca; font-size:14px; margin-bottom:15px;}
.rechwith-submit input{ background:#f4950a; color:#fff; width:100%; text-align:center;font-size: 18px;}
.trade-list{ background:#fff;}
.trade-list .trade-list-title, .trade-list .trade-list-main{ border-bottom:1px solid #e5e5e5;}
.trade-list li{ float:left; text-align:center;}
.trade-list .trade-list-title li:first-child, .trade-list .trade-list-main li:first-child{ text-align:left}
.trade-list .trade-list-title li:last-child, .trade-list .trade-list-main li:last-child{ text-align:right}
.trade-list .trade-list-title li{ font-size:14px;}
.trade-list .trade-list-main li{ font-size:12px; color:#898989;}
.repayment-complete-main .trade-list li{ width:35%;}
.repayment-complete-main .trade-list li.borrower{ width:30%;}
.repayment-in-main .trade-list li{ width:20%;}
.repayment-in-main .trade-list li.borrower{ width:23%;}
.repayment-in-main .trade-list li.month{ width:17%;}
.repayment-in-main .trade-list-title li{ font-size:13px;}
.repayment-in-main .trade-list-main li{ font-size:10px;}
.repayment-in-main .trade-list-title, .repayment-in-main .trade-list-main{ padding:15px 10px;}
.bid-in-main .trade-list li{ width:32%;}
.bid-in-main .trade-list li.data, .bid-in-main .trade-list li.rate{width:18%;}
.my-invest-list li .list-right span, .transfer-record-list li .list-right span{ color:#f4950a;}
.bind-bank-name .ui-btn-up-c, .bind-bank-name .ui-btn-hover-c{ border:none; background-image:none; background:none; font-weight:normal;color:#898989; box-shadow:0;}
.bind-bank-name .ui-btn-active, .bind-bank-name .ui-btn-active:hover, .bind-bank-name .ui-btn-active:visited{color:#898989;text-shadow:none;}
.bind-bank-name .ui-btn-hover-c:hover, .bind-bank-name .ui-btn-hover-c:visited{color:#898989;}
.bind-bank-name .ui-shadow, .bind-bank-name .ui-focus, .bind-bank-name .ui-btn:focus{ box-shadow:none;}
.bind-bank-name .ui-btn-inner{ padding:0; text-align:left;font-size:15px;}
.bind-bank-name option{ color:#898989; font-size:14px;}
.bind-bank-name .ui-field-contain, .bind-bank-name fieldset.ui-field-contain{ padding:0;}
.bind-bank-name .ui-field-contain .ui-select{ width:100%;}
.bind-bank-name .ui-select .ui-btn-icon-right .ui-icon{ right:0;border-radius: 50%; }
.callback-main1{ text-align:center; padding-top:25px; padding-bottom:25px; font-family:"微软雅黑" }
.callback-main1 img{ max-width:162px; max-height:162px; width:45%;}
.callback-main1 .callback-main1-word{ font-size:20px; font-weight:bold; margin:15px 0;}
.callback-main1 .callback-main1-word.success{ color:#f4950a;}
.callback-main1 .callback-main1-word.fail{ color:#f15c2d;}
.callback-main1 .callback-main1-btn a.ui-link { display:block; border-radius:5px; background:#f4950a; color:#fff; height:36px; line-height:36px;font-size:18px; width:60%; margin:0 auto;}
.callback-main1 .callback-main1-btn a.ui-link:visited, .callback-main1-btn a.ui-link:hover, .callback-main1-btn a.ui-link:active{ color:#fff;}
.callback-main2 h2{ padding:10px 0; color:#fff; font-size:18px;background: -webkit-linear-gradient(#f5b538, #f4950a); background: -o-linear-gradient(#f5b538, #f4950a); background: -moz-linear-gradient(#f5b538, #f4950a);background: linear-gradient(#f5b538, #f4950a); position:relative; padding-left:2%;border-top-left-radius:5px;border-top-right-radius:5px;}
.callback-main2 .callback-main2-product{ border:1px solid #dcdcdc; border-top:none; padding:10px 2%;}
.callback-main2 .callback-main2-product > div{ width:49%; text-align:center; color:#fff; padding:15px 0 22px; border-radius:5px; position:relative;}
.callback-main2 .callback-main2-product .callback-product-img img{position:absolute; bottom:0; left:0; width:100%; max-height:59px;}
.callback-main2 .callback-main2-product .callback-main2-product1{ float:left;background: -webkit-linear-gradient(90deg, #faca7a, #f7a722);background: -o-linear-gradient(90deg, #faca7a, #f7a722);background: -moz-linear-gradient(90deg, #faca7a, #f7a722);background: linear-gradient(90deg, #faca7a, #f7a722);}
.callback-main2 .callback-main2-product .callback-main2-product2{ float:right;background: -webkit-linear-gradient(90deg, #6192f2, #6f4eed);background: -o-linear-gradient(90deg, #6192f2, #6f4eed);background: -moz-linear-gradient(90deg, #6192f2, #6f4eed);background: linear-gradient(90deg, #6192f2, #6f4eed);}
.callback-main2 .callback-main2-product .callback-product-name{ font-size:15px;}
.callback-main2 .callback-main2-product .callback-product-profit1{ font-size:20px;}
.callback-main2 .callback-main2-product .callback-product-profit1 span{ font-size:35px;}
.callback-main2 .callback-main2-product .callback-product-profit2{ font-size:11px;}
.callback-main3{ margin-top:10px; padding:15px 2%; text-align:center;border:1px solid #dcdcdc;}
.callback-main3 img{ max-width:644px; max-height:243px; width:100%;}
.list-common .my-invest-new a{ font-size:14px;}
.list-common .my-invest-new .list-right span{ color:#898989;}
.list-common .my-invest-new .list-right span strong{ color:#f4950a;}
.myin-new-main{ background:#fff; border-top:1px solid #e5e5e5; display:none;}
.myin-new-main p{ font-size:12px; color:#898989; padding:5px 0;}
.list-common .my-invest-new a.hover .list-right b.icon{background: url(../images/list2.png) no-repeat center;background-size: 100%;width: 23px;height: 12px;}
.cash-coupon-nav{ background:#fff; height:45px; line-height:45px;border-bottom:1px solid #e5e5e5;}
.cash-coupon-nav li{ text-align:center; width:33.3%; font-size:16px; height:43px;}
.cash-coupon-nav li.hover{border-bottom: 2px solid #f4950a;}
.cash-coupon-nav li.hover a.ui-link, .cash-coupon-nav li.hover a.ui-link:visited, .cash-coupon-nav li.hover a.ui-link:hover, .cash-coupon-nav li.hover a.ui-link:active{ color:#f4950a;}
.cash-coupon-main > div{ margin-bottom:10px; background:#fff;border-radius:10px;box-shadow: 0 0 5px 2px #e4e3e3;}
.cash-coupon-main .cash-coupon-img{ background-repeat:repeat-x; border-top-left-radius:10px; border-top-right-radius:10px; height:14px;}
.cash-coupon-no .cash-coupon-img{ background:url(../images/account/coupon1.png);}
.cash-coupon-content .caco-content-left{ width:73%; padding:0 2%; font-size:12px; line-height:20px;}
.cash-coupon-content .caco-content-left .caco-content-prompt{ color:#727171; margin:10px 0;}
.cash-coupon-content .caco-content-left .caco-content-time{ color:#b0b0b0;}
.cash-coupon-content .caco-content-right{ width:22%; text-align:center;min-height:125px;}
.cash-coupon-no .cash-coupon-content .caco-content-right{ border-left:1px dashed #f1c35d;color:#f2c45d; }
.cash-coupon-content .caco-content-right .caco-content-money1{ font-size:15px; margin:10px 0 15px}
.cash-coupon-content .caco-content-right .caco-content-money2{ font-size:13px;}
.cash-coupon-content .caco-content-right .caco-content-money2 span{ font-size:27px; padding-right:1%;}
.cash-coupon-already .cash-coupon-img{ background:url(../images/account/coupon2.png);}
.cash-coupon-already .cash-coupon-content .caco-content-right{ border-left:1px dashed #b6b4b5; color:#b5b3b4; }
.invite-friends-main .invite-friends-banner img{ width:100%; max-height:401px;}
.invite-friends-main2{ background:#fff; border-radius:5px; margin-top:10px; padding-bottom:20px;}
.invite-friends-main2 h2{ color:#fff; font-size:16px;background: -webkit-linear-gradient(#f5b538, #f4950a); background: -o-linear-gradient(#f5b538, #f4950a); background: -moz-linear-gradient(#f5b538, #f4950a);background: linear-gradient(#f5b538, #f4950a); height:45px; line-height:45px; text-align:center; border-top-left-radius:5px; border-top-right-radius:5px;}
.infr-invest-reward{ padding:23px 2%; text-align:center;}
.infr-invest-reward .infr-inre-head img{ max-height:114px; max-width:114px;}
.infr-invest-reward .infr-inre-explain{ font-size:13px; margin:16px 0;}
.infr-invest-reward .infr-inre-explain span{ color:#f69503; font-size:18px;}
.infr-invest-reward .infr-inre-table{ background:#fdf7ef;}
.infr-invest-reward .infr-inre-table table{font-size:11px; width:100%;}
.infr-invest-reward .infr-inre-table .table-left{ width:59%;float:left;}
.infr-invest-reward .infr-inre-table .table-right{ width:40%; margin-left:2px;float:left;}
.infr-invest-reward .infr-inre-table th{color:#fff; height:36px; line-height:36px; background:#f7a73c;}
.infr-invest-reward .infr-inre-table td{ margin-top:1px;height:30px; line-height:30px; color:#f7a73c;background:#f9e4ca; }
.infr-invest-reward .infr-inre-table tr.odd td{background:#faf5e6;}
.infr-invite-rules{ margin-bottom:20px;}
.infr-invite-rules .infr-inru-title, .infr-invite-way .infr-inway-title{ line-height:18px;}
.infr-invite-rules .infr-inru-title span, .infr-invite-way .infr-inway-title span{ color:#f28b00; font-size:13px; float:left; padding:0 2%; width:26%; text-align:center; }
.infr-invite-rules .infr-inru-title span img, .infr-invite-way .infr-inway-title img{max-height:15px; max-width:16px; vertical-align:bottom;}
.infr-invite-rules .infr-inru-title b, .infr-invite-way .infr-inway-title b{ float:left; width:35%; border-top:1px solid #e5e5e5; margin-top:8px;}
.infr-invite-rules .infr-inru-time{ font-size:13px; color:#727171; text-align:center; margin:20px 0 14px;}
.infr-invite-rules .infr-inru-time b{ font-weight:bold;}
.infr-invite-rules .infr-inru-main{ color:#9fa0a0; font-size:12px; padding:0 3%}
.infr-invite-rules .infr-inru-main span{ float:left; width:5%; text-align:right;}
.infr-invite-rules .infr-inru-main b{ float:right; width:90%;}
.infr-invite-way .infr-inway-main{ padding:20px 2% 0;}
.infr-invite-way .infr-inway-main > div{ padding:10px 3%; border:1px solid #e5e5e5; color:#9fa0a0; font-size:12px; margin-bottom:10px;}
.infr-invite-way .infr-inway-main > div p b{ color:#f28b00;}
.infr-invite-way .infr-inway-btn{ color: #fff;background: #f4950a;font-size: 18px;display: block;text-align: center;width: 80%;border-radius: 5px; height:36px; line-height:36px;margin: 30px auto 20px;}
.share-friends-circle{ position:fixed; left:0; top:0; background:rgba(0,0,0,0.5); width:100%; height:100%; z-index:999; color:#fff; font-size:18px; text-align:center; display:none;}
.share-friends-circle .share-frci-img{ margin-bottom:10px; margin-top:30px; text-align:right; margin-right:7%;}
.share-friends-circle .share-frci-img img{ max-width:193px; max-height:148px; width:50%;}
/*债权转让*/
.transferable-credits-main .trade-list-title li, .no-transfer-main .trade-list-title li {font-size: 13px;}
.transferable-credits-main .trade-list li, .transferring-credits-main .trade-list li, .no-transfer-main .trade-list li  {width: 20%;}
.transferable-credits-main .trade-list li.user, .no-transfer-main .trade-list li.user{ width:23%;}
.transferable-credits-main .trade-list li.date, .no-transfer-main .trade-list li.date{ width:12%;}
.transferable-credits-main .trade-list li.money, .no-transfer-main .trade-list li.money{ width:25%;}
.transferring-credits-main .trade-list li.date{ width:15%;}
.transferring-credits-main .trade-list li.money{ width:22.5%;}
.completed-transfer-main .trade-list li {width: 25%;}
.credits-transfer-list ol li .list-right span{ color:#f4950a;}
.credits-transfer-list ol li.credits-transfer-phone p input{  width:100%;}
.credits-transfer-list ol li.credits-transfer-phone p b.phone-code{ padding:5px; color:#fff; font-size:13px; background:#f4950a; margin-left:2%;}
.credits-transfer-btn a.ui-link{ display: block;text-align: center; background:#f4950a;color: #fff; height:36px; line-height:36px;font-size: 18px; margin:20px auto 10px; width:50%; border-radius:5px;}
.credits-transfer-btn a.ui-link:hover, .credits-transfer-btn a.ui-link:visited{color: #fff;}
.credits-transfer-agreement{ text-align:center; font-size:12px;}
.credits-transfer-agreement a.ui-link, .credits-transfer-agreement a.ui-link:hover, .credits-transfer-agreement a.ui-link:visited{color:#f4950a;}
.credits-transfer-rule{ font-size:12px; line-height:25px;}
.credits-transfer-popup{background:#fff;position:fixed; top:33%; left:10%; width:80%;z-index:999; border-radius:5px; display:none;}
.credits-transfer-popup h1{text-align: center;background: #f4950a;border-top-left-radius: 5px;border-top-right-radius: 5px;height: 35px;line-height: 35px;color: #fff;font-size: 16px;}
.credits-transfer-popup .crtr-popup-main1{ padding:10px 5%; text-align:center;font-size:14px;width:80%; margin:0 auto;}
.credits-transfer-popup .crtr-popup-main2{width:80%; margin:0 auto;  border-top:1px solid #e5e5e5;}
.credits-transfer-popup .crtr-popup-main2 a{text-align:center;display:block; height:28px; line-height:28px; border-radius:5px;color:#fff; margin:10px 0; font-size:14px; float:left; margin-left:13%;width:30%;}
.credits-transfer-popup .crtr-popup-main2 a.crtr-popup-btn2{ background:#f6950a;}
.credits-transfer-popup .crtr-popup-main2 a.crtr-popup-btn1{ background:#d2d2d2;}
.completed-credits-main .trade-list li{ width:33% }
.transferable-credits-main .trade-list ul li a.ui-link, .transferring-credits-main .trade-list ul li a.ui-link, .completed-transfer-main .trade-list ul li a.ui-link{ color:#898989; display:block;}
.transferable-credits-main .trade-list ul li.money a.ui-link, .transferring-credits-main .trade-list ul li.money a.ui-link, .completed-transfer-main .trade-list ul li.money a.ui-link, .completed-credits-main .trade-list ul li.money, .no-transfer-main .trade-list ul li.money{ color:#f6950a;}
.transferable-credits-main .trade-list .trade-list-main li b.icon, .transferring-credits-main .trade-list .trade-list-main li b.icon, .completed-transfer-main .trade-list .trade-list-main li b.icon, .plan-account-list .trade-list .trade-list-main li b.icon, .plan-repayment-main .trade-list .trade-list-main li b.icon{ width: 10px;height: 20px;background: url(../images/list.png) no-repeat center; background-size: 80%; vertical-align: middle; margin-left:5%; margin-top:-4px;}
.transferable-credits-header .transferable-credits-screen{ position:absolute; right:10px; top:0; color:#fff; font-size:16px;}
.transferable-credits-header .transferable-credits-screen img{ width:14px; height:16px;}
/*计划宝详情*/
.plan-account .account-assets-profit{ background:none;}
.plan-account .account-assets-profit li{ border-left:none;}
.plan-account .account-assets-profit li p.number{ font-size:25px;}
/*计划宝账户*/
.plan-account-list{ margin-top:10px;}
.plan-account-list .trade-list .trade-list-title li:first-child, .plan-account-list .trade-list .trade-list-main li:first-child{ text-align:center;}
.plan-account-list .trade-list .trade-list-title li:last-child, .plan-account-list .trade-list .trade-list-main li:last-child{ text-align:center;}
.plan-account-list .trade-list li.name{ width:14%;}
.plan-account-list .trade-list li.money{ width:24%;}
.plan-account-list .trade-list li.start-time{ width:22%;}
.plan-account-list .trade-list li.end-time{ width:22%;}
.plan-account-list .trade-list li.number{ width:18%;}
.plan-account-list .trade-list .trade-list-main li b.icon { float: right;}
.plan-repayment-main .trade-list li.borrower{ width:15%;}
.plan-repayment-main .trade-list li.principal{ width:24%;}
.plan-repayment-main .trade-list li.principal{ width:22%;}
.plan-repayment-main .trade-list li.repayment{ width:22%;}
.plan-repayment-main .trade-list li.status{ width:19%;}
@media screen and (min-width:600px){
 .bank-ICBC, .bank-ABC, .bank-BOC, .bank-BOCOM, .bank-CCB, .bank-CEB, .bank-CTB, .bank-CITIC, .bank-CMB, .bank-CMBC, .bank-GDB, .bank-HXB, .bank-PSBC, .bank-SPDB{ background-size:20%;}
}
@media screen and (max-width:375px){
 .account-main1 .account-main1-header a.account-main1-message img{ width:50%;}
}
@media screen and (max-width:320px){
 .list-common .my-invest-new a.hover .list-right b.icon{ background-size: 80%;}
 .cash-coupon-content .caco-content-right{  min-height:135px;}
 .cash-coupon-content .caco-content-left .caco-content-prompt{ margin:5px 0;}
 .transfer-credits-main .trade-list-title li, .no-transfer-main .trade-list-title li {font-size: 12px;}

}



