@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0;}
/*5周年*/
.five-year-banner img{ width:100%; max-height:731px;}
.five-year-bg{ background:url(../images/five-year/bg.jpg) no-repeat;background-size:100% 100%; margin-top:-1px;}
.five-year-main1{font-size:1.4em; color:#fff; text-shadow:2px 2px 15px #666; line-height:2em; text-align:center; }
.five-year-main2{ margin-top:40px;}
.five-year-main2 h1 { text-align:center;}
.five-year-main2 h1 img{ max-width:351px; max-height:87px; width:70%;}
.five-year-main2 .five-year-explain{ font-size:1.5em; line-height:2em; color:#190032; margin:20px 0;}
.five-year-main2 dl div{ line-height:2em;font-size:1.4em; float:left; padding:15px 2%;}
.five-year-main2 dl .fiveyear-main2-money{ width:18%; border-top-left-radius:5px; border-bottom-left-radius:5px;}
.five-year-main2 dl .fiveyear-main2-reward1{ width:34%; margin-left:1%; }
.five-year-main2 dl .fiveyear-main2-reward2{ width:34%; margin-left:1%;border-top-right-radius:5px; border-bottom-right-radius:5px;}
.five-year-main2 dl dt > div{background: -webkit-linear-gradient(#fc7f5b, #f76447); background: -o-linear-gradient(#fc7f5b, #f76447); background: -moz-linear-gradient(#fc7f5b, #f76447);background: linear-gradient(#fc7f5b, #f76447); text-align:center;color:#fff;}
.five-year-main2 dl dd > div{ margin-top:4px; background: -webkit-linear-gradient(#fefffd, #fafdba); background: -o-linear-gradient(#fefffd, #fafdba); background: -moz-linear-gradient(#fefffd, #fafdba);background: linear-gradient(#fefffd, #fafdba);height: 314px;}
.five-year-main2 dl dd.odd > div{background: -webkit-linear-gradient(#fc7f5b, #f76447); background: -o-linear-gradient(#fc7f5b, #f76447); background: -moz-linear-gradient(#fc7f5b, #f76447);background: linear-gradient(#fc7f5b, #f76447);}
.five-year-main2 dl dd .fiveyear-main2-money{ color:#595757; }
.five-year-main2 dl dd .fiveyear-main2-name{ color:#595757; height:165px;}
.five-year-main2 dl dd .fiveyear-main2-value{color:#e8004c;}
.five-year-main2 dl dd.odd .fiveyear-main2-money, .five-year-main2 dl dd.odd .fiveyear-main2-name{ color:#fff;}
.five-year-main2 dl dd.odd .fiveyear-main2-value{color:#fed086;}
.five-year-main2 dl dd .fiveyear-main2-reward1, .five-year-main2 dl dd .fiveyear-main2-reward2{ position:relative}
.five-year-main2 dl dd .fiveyear-main2-img img{ position:absolute; bottom:0; max-width:101px; max-height:84px;left:18%;}
.five-year-btn a{ display:block; color:#595757; text-align:center;background: -webkit-linear-gradient(#fffef4, #ffdc30); background: -o-linear-gradient(#fffef4, #ffdc30); background: -moz-linear-gradient(#fffef4, #ffdc30);background: linear-gradient(#fffef4, #ffdc30); width:50%; height:40px; line-height:40px; font-size:1.5em; margin:49px auto; border-radius:5px;}
.five-year-btn a.ui-link:visited, .five-year-btn a.ui-link:hover {color: #595757;}
.five-year-btn a.ui-link {color: #595757;}
.five-year-main3{background: -webkit-linear-gradient(#fff, #ffebca); background: -o-linear-gradient(#fff, #ffebca); background: -moz-linear-gradient(#fff, #ffebca);background: linear-gradient(#fff, #ffebca); margin-top:50px; font-size:1.5em; padding:30px 5%; border-radius:5px; }
.five-year-main3 h2{ font-size:1.4em; font-weight:bold; color:#f97051; text-align:center; margin-bottom:20px;}
.five-year-main3 p{ margin-bottom:10px; color:#595757; line-height:2em;}
.five-year-main4 p{  font-size:1.4em;color:#595757; margin-top:39px; float:right; margin-bottom:30px;}

/*10月*/
.october-activity-banner img{ width:100%; max-height:764px;}
.october-activity-bg{ background:url(../images/october/bg.jpg) no-repeat;background-size:100% 100%;}
.october-activity-main1{font-size:15px; color:#fff; text-shadow:2px 2px 15px #666; line-height:25px; text-align:center; }
.october-activity-main2{ margin-top:40px;}
.october-activity-main2 h1 { text-align:center;}
.october-activity-main2 h1 img{ max-width:354px; max-height:88px; width:70%;}
.october-activity-main2 .october-activity-explain{ font-size:13px; line-height:20px; color:#190032; margin:20px 0; text-align:center;}
.october-activity-main2 dl .ocac-main2-type{ width:17%; border-top-left-radius:5px; border-bottom-left-radius:5px; text-align:center;}
.october-activity-main2 dl .ocac-main2-time1{ width:17%; margin-left:0.5%;text-align:center; }
.october-activity-main2 dl .ocac-main2-time2{ width:17%; margin-left:0.5%;text-align:center; }
.october-activity-main2 dl .ocac-main2-gift{ width:47.5%; margin-left:0.5%;border-top-right-radius:5px; border-bottom-right-radius:5px;}
.october-activity-main2 dl dt > div{background:#fc7e5c;text-align:center; height:37px; padding-top:5px;}
.october-activity-main2 dl dt{ color:#fff; font-size:9px; font-weight:bold;}
.october-activity-main2 dl dt .ocac-main2-type, .october-activity-main2 dl dt .ocac-main2-gift{ line-height:32px;}
.october-activity-main2 dl dd > div{ margin-top:0.5%; background:#fff59d; color:#595757; font-size:8px;height: 100px;}
.october-activity-main2 dl dd.odd > div{background:#fc7e5c;color:#fff;}
.october-activity-main2 dl dd .ocac-main2-type p{ font-size:10px; line-height:30px; margin-top:20px;}
.october-activity-main2 dl dd .ocac-main2-time1 p, .october-activity-main2 dl dd .ocac-main2-time2 p{ line-height:30px; margin-top:20px;}
.october-activity-main2 dl dd .ocac-main2-gift div:first-child{ padding:2% 2%;}
.october-activity-main2 dl dd .ocac-main2-gift .ocac-main2-giftmoney{ font-size:6px; color:#e8004c; margin-top:15px;}
.october-activity-main2 dl dd .ocac-main2-gift{ position:relative;}
.october-activity-main2 dl dd .ocac-main2-gift .ocac-main2-giftimg{ position:absolute; right:0; bottom:0; width:33%;}
.october-activity-main2 dl dd .ocac-main2-gift .ocac-main2-giftimg img{ width:100%; max-height:95px; max-width:106px;}
.october-activity-main2 dl dd.odd .ocac-main2-gift .ocac-main2-giftmoney{ color:#fed086;}
.october-activity-btn{ margin:17px auto; font-size:14px; font-weight:bold;}
.october-activity-btn a{ height:30px; line-height:30px; text-align:center; margin-left:1%; border-radius:5px; border:2px solid #fc7f5c; }
.october-activity-btn a:first-child{ margin-left:0;}
.october-activity-btn .october-activity-btn1, .october-activity-btn .october-activity-btn3{ color:#fc7f5c; width:35%;}
.october-activity-btn .october-activity-btn2{ color:#fff; background:#fc7f5c; width:23%;}
.october-activity-main3{background: -webkit-linear-gradient(#fffefe, #fff3de); background: -o-linear-gradient(#fffefe, #fff3de); background: -moz-linear-gradient(#fffefe, #fff3de);background: linear-gradient(#fffefe, #fff3de); padding:20px 3%; border-radius:5px; font-size:12px;}
.october-activity-main3 h2{ font-size:15px; font-weight:bold; color:#f97051; text-align:center; margin-bottom:12px; text-align:center;}
.october-activity-main3 p{color:#595757; line-height:25px;}
.october-activity-main4 p{  font-size:12px;color:#595757; margin-top:39px; float:right; margin-bottom:30px;}

/*12月*/
.december-activity-banner img{width:100%; max-height:603px;}
.december-activity-bg{ background:url(../images/december/bg.jpg) no-repeat;background-size:100% 100%; margin-top:-1px;}
.december-activity-main1{ font-size:10px; color:#fff;background:url(../images/december/time.png) no-repeat;background-size:100% 100%;height:53px; text-align:center; line-height:68px;}
.december-activity-bg .october-activity-main2{background:url(../images/december/bg2.jpg) repeat-y; background-size:100%; margin-top:0; }
.december-activity-bg .december-activity-main2 h1{ padding-top:16px;}
.december-activity-bg .december-activity-main2{ padding:0 3% 12px;}
.december-activity-bg .december-activity-main2 .october-activity-explain{ margin:0; padding:20px 0;}
.december-activity-bg .october-activity-main2 dl .ocac-main2-type{width:18%;}
.december-activity-bg .october-activity-main2 dl .ocac-main2-gift {width: 46%;}
.december-activity-bg .december-activity-bottom{ max-height:10px;}
.december-activity-bg .december-activity-bottom img{ width:100%;}
.december-activity-bg .october-activity-main3{ border: 10px solid #c90304;background: #fff;box-shadow: 0 0 20px rgba(245, 112, 0, 0.4);position:relative}
.december-activity-bg .october-activity-main3 .deac-rule-img1{ position:absolute; right:-77px; top:-25px;}
.december-activity-bg .october-activity-main3 .deac-rule-img1 img, .december-activity-bg .october-activity-main3 .deac-rule-img2 img{ width:57%;}
.december-activity-bg .october-activity-main3 .deac-rule-img2{ position:absolute; right:-86px; bottom:-40px;}
.december-activity-bg .october-activity-main4{ text-align:center; margin-top:15px;}
.december-activity-btn a{ display:block; color:#fff; text-align:center;background:#c90304; width:50%; height:30px; line-height:30px; font-size:14px; margin:20px auto; border-radius:5px;}
.december-activity-btn a.ui-link:visited, .december-activity-btn a.ui-link:hover {color: #fff;}
.december-activity-btn a.ui-link {color: #fff;}

/*满标有奖*/
.reward-activity-banner img{width:100%; max-height:364px;}
.reward-activity-bg{ background:#ec1e31; margin-top:-1px;}
.reward-activity-bg > div{ margin-bottom:15px; background:#f26168; padding:20px 10px; color:#fff; font-size:14px;}
.reward-activity-bg > div p{ line-height:20px;}
.reward-activity-bg h1{ font-size:16px; font-weight:bold; text-align:center; margin-bottom:15px;}
.reward-activity-main2 > div{ margin-bottom:18px;}
.reward-activity-main2 h1 span{ display:inline-block; width:10px; height:23px; vertical-align:middle;}
.reward-activity-main2 h1 span.left-icon{ background:url(../images/reward_activity/left.png) no-repeat; background-size:100%; margin-right:2%;}
.reward-activity-main2 h1 span.right-icon{ background:url(../images/reward_activity/right.png) no-repeat; background-size:100%; margin-left:2%;}
.reward-activity-main2 .reward-activity-example{ font-size:10px; margin-top:10px;}
.reward-activity-main3 p span{ width:7%; float:left;}
.reward-activity-main3 p b{ width:93%; float:right;}
.reward-activity-bg > div.reward-activity-main4{ background:none; text-align:right; padding:0;}
/*播种希望*/
.sowhope-activity-banner img{ width:100%; max-height:626px;}
.sowhope-activity-bg{ background:#bbefa4; padding-top:0;}
.sowhope-activity-main{ background:#f8ffed; padding:15px 2% 30px;}
.sowhope-activity-main h1 img{ width:100%; max-height:56px;}
.sowhope-activity-main .sowhope-activity-explain{ color:#51b400; font-weight:bold; font-size:12px; text-indent:2em; line-height:16px; margin:14px 0 16px;}
.sowhope-activity-main .october-activity-main2{ margin-top:0;}
.sowhope-activity-main .october-activity-main2 dl dt .ocac-main2-type{ line-height:inherit;}
.sowhope-activity-main .october-activity-main2 dl dt > div, .sowhope-activity-main .october-activity-main2 dl dd.odd > div{ background:#80c93f;}
.sowhope-activity-main .october-activity-main2 dl dd > div{ background:#ffff8d;}
.sowhope-activity-main .october-activity-main2 dl dd .ocac-main2-gift .ocac-main2-giftmoney{ color:#f78000;}
.sowhope-activity-main .october-activity-main2 dl dd.odd .ocac-main2-gift .ocac-main2-giftmoney{ color:#ffff00;}
.sowhope-activity-main .october-activity-main2 dl dd .ocac-main2-gift .ocac-main2-giftimg img{ max-width:98px; max-height:90px;}
.sowhope-activity-rule{ margin-top:30px;}
.sowhope-activity-rule h2{ font-size:9px; color:#fff; border-top:3px solid #80c93f; position:relative;}
.sowhope-activity-rule h2 span{ display:inline-block; background:#80c93f;text-align:center;padding:0 5%; height:22px; line-height:22px; border-radius:10px; position:absolute; left:0; top:-11px;}
.sowhope-activity-rule p{ color:#397504; padding:17px 10%; font-size:8px;}
.sowhope-activity-btn a{ display:block; background:#80c93f; height:40px; line-height:40px; font-size:16px; font-weight:bold; text-align:center; margin-top:10px;}
.sowhope-activity-btn a.ui-link, .sowhope-activity-btn a.ui-link:visited, .sowhope-activity-btn a.ui-link:hover, .sowhope-activity-btn a.ui-link:active{ color:#fff;}
.sowhope-activity-prompt{ text-align:right; color:#80c93f; font-size:12px; padding:15px 0;}
.sowhope-activity-main .october-activity-main2 dl .ocac-main2-time1, .sowhope-activity-main .october-activity-main2 dl .ocac-main2-time2{ line-height:32px;}
.sowhope-activity-main .october-activity-main2 dl .ocac-main2-time3{ line-height:32px; margin-left:0.5%;}
.sowhope-activity-main .october-activity-main2 dl .ocac-main2-time1, .sowhope-activity-main .october-activity-main2 dl .ocac-main2-time2, .sowhope-activity-main .october-activity-main2 dl .ocac-main2-time3{ width:12%;}
.sowhope-activity-main .october-activity-main2 dl dd .ocac-main2-time3 p{ text-align:center; margin-top:20px;}
.sowhope-activity-main .october-activity-main2 dl .ocac-main2-time1 p, .sowhope-activity-main .october-activity-main2 dl .ocac-main2-time2 p{ line-height:inherit;}
.sowhope-activity-main .october-activity-main2 dl .ocac-main2-gift{ width:44.5%}
@media screen and (min-width:768px){
.five-year-main2 dl dd .fiveyear-main2-name{height:80px;}
.five-year-main2 dl dd > div{ height:220px;}
.five-year-main2 dl dd .fiveyear-main2-img img{ max-width: 160px;max-height: 100px;}
}
@media screen and (max-width:374px) and (min-width:360px){
 .five-year-main2 dl dt > div{ height:90px;}
}
@media screen and (max-width:320px){
	.five-year-main2 dl dd .fiveyear-main2-img img{left:10%;}
	.five-year-main2 dl dd .fiveyear-main2-name { height: 190px;}
	.five-year-main2 dl dd > div{ height:341px;}
	.october-activity-btn{ font-size:12px;}
	.december-activity-bg .october-activity-main2 dl dd .ocac-main2-gift .ocac-main2-giftimg{ width:27%;}
	.december-activity-bg .october-activity-main3 .deac-rule-img2 img {width: 44%;}
	.december-activity-bg .october-activity-main3 .deac-rule-img2 {right: -108px;}
}






