@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0;}

.escrow-main{ margin-top:15px;font-size:12px; line-height:2em;}
.escrow-main1{background: -webkit-linear-gradient(#f5b538, #f4950a); background: -o-linear-gradient(#f5b538, #f4950a); background: -moz-linear-gradient(#f5b538, #f4950a);background: linear-gradient(#f5b538, #f4950a); position:relative; padding-top:20px; }
.escrow-main1-center{ width:70%; margin:0 auto; color:#fff;}
.escrow-main1-center1, .escrow-main1-center2{ border-radius:5px; border:1px solid #fff; padding:15px 3%; margin-bottom:10px;}
.escrow-main1-center1{ text-align:center;}
.escrow-main1-center1 img{ max-width:367px; max-height:96px; width:95%;}
.escrow-main1-center3 b{ display:inline-block; background:url(../images/escrow/escrow2.png) no-repeat bottom; width:20px; height:20px; margin-right:2%; background-size:100%;}
.escrow-main-common{ background:#fff;}
.escrow-main-common h2{ font-size:18px; text-align:center; border-bottom:1px solid #e5e5e5; color:#f4950a; padding:10px 0;}
.escrow-main2-center p:first-child, .escrow-main4-center ol li{ margin-bottom:10px;}
.escrow-main-common ol li b{ display:block; float:left; color:#fff; background:#717071; text-align:center; font-size:10px; border-radius:100%; width:18px; height:17px; line-height:17px; margin-top:5px;}
.escrow-main-common ol li span{ display:block; float:left; margin-left:1%; width:89%;}
.escrow-main-btn a.ui-link, .escrow-main-btn a.ui-link:visited, .escrow-main-btn a.ui-link:hover, .escrow-main-btn a.ui-link:active { color:#fff; background:#f4950a; font-size:18px; display:block; text-align:center; width:80%; border-radius:5px; height:36px; line-height:36px;margin:30px auto 20px;}
.escrow-main4-center ol li a.font-yellow{ color:#f4950a;}
.escrow-main4-center ol li a.font-bule{ color:#6261e8;}






