@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0;}
.invite-coupon-banner img{ width:100%; max-height:270px; } 
.invite-coupon-bg{ background:#fff8ed; overflow:hidden; font-size:9px; line-height:19px;}
.invite-coupon-bg h1 { margin:14px auto 20px;}
.invite-coupon-bg h1 img{ width:100%; max-height:65px;}
.invite-coupon-btn a.ui-link{ display:block; color:#fff; font-size:11px; text-align:center; height:32px; line-height:32px; background:#f69503; width:50%; margin:10px auto 0;}
.invite-coupon-btn a.ui-link:hover, .invite-coupon-btn a.ui-link:active, .invite-coupon-btn a.ui-link:visited{color:#fff;}
.invite-coupon-bg .border-width{ border:3px solid #f69503; padding:10px 2%;}
.invite-coupon-new{ color:#f69503;}
.invite-coupon-new .invite-coupon-new1{ text-align:center; color:#ec4d35; font-size:14px; margin-bottom:12px; background:url(../images/invite_coupon/img1.png) no-repeat center; height:168px; background-size:84% 100%; overflow:hidden;}
.invite-coupon-new .invite-coupon-new1 b{ margin-top:52px; display:block;}
.invite-coupon-new .invite-coupon-new2{ text-align:center;}
.invite-coupon-common li { border-bottom:1px solid #f69503; padding:15px 3%;}
.invite-coupon-common li:last-child{ border-bottom:none;}
.invite-coupon-bg .border-width h2{ font-size:12px; color:#fff; text-align:center; margin-bottom:14px; background:url(../images/invite_coupon/title4.png) no-repeat center; background-size:50% 100%; height:34px; line-height:31px;}
.invite-coupon-common li .invite-coupon-img{ width:30%; text-align:center}
.invite-coupon-common li .invite-coupon-img img{ width:100%;}
.invite-coupon-common li .invite-coupon-word{ color:#f69503; width:50%; text-align:center;}
.invite-coupon-friend .invite-coupon-way p{ color:#f69503; margin-top:10px;}
.invite-coupon-reward{ margin-top:20px; font-size:7px;}
.invite-coupon-reward ul{border-bottom:1px solid #f69503;}
.invite-coupon-reward ul:last-child{ border-bottom:none; margin-top:10px;}
.invite-coupon-reward ul li{ height:38px; margin-bottom:10px;}
.invite-coupon-reward ul li .inco-reward-left{ border-right:1px solid #efeae2;}
.invite-coupon-reward ul li .inco-reward-left b{ color:#f69503;display:block;}
.invite-coupon-reward ul li .inco-reward-right{ padding-left:5%;}
.invite-coupon-reward ul li .inco-reward-right b{ color:#b0b0b0; font-size:5px; display:block;}
.invite-coupon-reward ul li .inco-reward-right span{ color: #fff; padding:3px;/* display: inline-block;width:30px;height: 20px;text-align: center;line-height:20px*/;background: -webkit-linear-gradient(#f5b538, #f4950a); background: -o-linear-gradient(#f5b538, #f4950a);background: -moz-linear-gradient(#f5b538, #f4950a); background: linear-gradient(#f5b538, #f4950a);border-radius: 3px;margin: 0 5px;}
.invite-coupon-reward .inco-reward-list1 li .inco-reward-left{ width:40%}
.invite-coupon-reward .inco-reward-list2 li .inco-reward-left{ width:45%}






