@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0;}

.ui-page.login{ background:url(../images/login/bg.jpg) no-repeat center; background-size:100% 100%;}
.login .login-logo{ margin-top:10%;}
.login .login-logo img{ width:58%; max-height:209px; max-width:395px;}
.login-form .login-form-input{ padding:0 1em; background:#fff; border-radius:5px;margin:15% auto 10%;}
.login-form .login-form-input p{ padding:1em 0; }
.login-form .login-form-input p:first-child{ border-bottom:1px solid #e5e5e5;}
.login-form .login-form-text input{ width:80%; float:left;}
.login-form .login-form-text label{ display:block; width:18%; float:left; text-align:center;}
.login-form .login-form-text label img{ max-width:24px; max-height:36px; width:35%;}
.login-form .login-form-password input{ width:60%;}
.login-form .login-form-password a{ width:20%; float:left; text-align:right;}
.login-form .login-form-password a img{ max-height:24px; max-width:37px; width:37%; padding-top:6px;}
.login-form p #loginsubmit{ background:#f69503; width:100%; color:#fff; font-size:18px;}
.login-form .login-form-forget{ margin-top:20px; font-size:13px;}
.login-form .login-form-forget img{ margin-right:5px;max-height:15px; max-width:15px; margin-top:-2px;}
.login-register{ font-size:15px; text-align:center; margin-top:20%;}
.login-register a.ui-link, .login-register a.ui-link:visited, .login-register a.ui-link:hover, .login-register a.ui-link:active { color:#f69503; text-decoration:underline;}
.money-register-logo, .forget-password-logo{ text-align:center; margin:52px auto 35px;}
.money-register-logo img, .forget-password-logo img{ max-width:458px; max-height:235px; width:50%;}
/*钱串注册*/
.money-register-form .money-form-common{ position:relative;width:100%;margin-bottom:10px;height:36px;}
.money-register-form .money-form-common input {height:36px;width:100%;text-indent:3em;display:block;padding-left:0;}
.money-register-form .money-form-common label img {max-height:25px;max-width:19px;position:absolute;left:8px;top:5px;}
.money-register-form .money-form-code #moneyforverificationcode, .money-register-form .money-form-imgcode #moneyforverificationimgcode, .forget-password-form .forget-password-code #forgetpasswordcode, .forget-password-form .forget-password-imgcode #forgetpasswordimgcode{width:55%;float:left;}
.money-register-form .money-form-code a, .forget-password-form .forget-password-code a{color:#f6950a;width:40%;font-size:14px;height:36px;text-align:center;line-height:36px;float:right;border-radius:5px; background:#fff;}
.money-register-form .money-form-imgcode img, .forget-password-form .forget-password-imgcode img{width:40%;height:36px;float:right;border-radius:5px;}
.money-register-form .money-form-password a{ position:absolute;top:8px;right:8px;}
.money-register-form .money-form-password a img {max-height:14px;max-width:20px;}
.money-register-form .money-form-submit input, .forget-password-form .forget-password-submit input{background:#f4950a; color:#fff;font-size:18px;width:100%;margin-top:10px; height:36px; line-height:36px;}
.money-register-form .money-form-submit input{ margin-top:0;}
.money-register-guarantee{ margin:10px 0 12px;color:#080404; font-size:12px;}
.money-register-login{ text-align:center;color:#080404; font-size:12px; }
.money-register-login a.ui-link, .money-register-login a.ui-link:visited, .money-register-login a.ui-link:hover, .money-register-login a.ui-link:active {color:#f6950a; text-decoration:underline;}
.money-register-arrow{ text-align:center; margin-top:10px;}
.money-register-arrow img{ max-width:28px; max-height:54px;}
.money-register-introduce > div{ margin-top:20px;box-shadow: 0 0 5px 3px #e4e3e3; text-align:center; background:#fff; padding-bottom:30px;}
.money-register-introduce h1{ font-size:16px; padding:10px 0; border-bottom:1px solid;}
.money-register-introduce .introduce-main .word{ font-size:12px; line-height:1.7em; padding:0 2%;} 
.money-register-introduce .introduce-main .img{ margin:20px auto; text-align:center;}
.money-register-introduce .introduce-main .img img{ width:50%;}
.money-register-introduce1{ border:6px solid #ffe9cb;}
.money-register-introduce1 h1{ color:#f4950a; border-bottom-color:#ffe9cb;}
.money-register-introduce2{ border:6px solid #fff6ac;}
.money-register-introduce2 h1{ color:#d4be09; border-bottom-color:#fff6ac;}
.money-register-introduce3{ border:6px solid #def2a7;}
.money-register-introduce3 h1{ color:#b8d46c; border-bottom-color:#def2a7;}
.money-register-introduce4{ border:6px solid #c0f7e9;}
.money-register-introduce4 h1{ color:#87c8b7; border-bottom-color:#c0f7e9;}
.money-register-introduce5{ border:6px solid #abd6f7;}
.money-register-introduce5 h1{ color:#7fb0d6; border-bottom-color:#abd6f7;}
.money-register-introduce6{ border:6px solid #fcd8a7;}
.money-register-introduce6 h1{ color:#f39800; border-bottom-color:#fcd8a7;}
.forget-password-form .forget-password-common{width:100%;margin-bottom:10px;height:36px;}
.forget-password-form .forget-password-common input{height:36px;width:100%;display:block; padding-left:10px;}

/*注册成功*/
.register-success-main{text-align:center; }
.register-success-main h1{ color:#fa9500; font-size:25px; margin:50px 0;}
.register-success-main .app-qrcode p{ font-size:12px; color:#000000; margin-bottom:10px;}
.register-success-main .app-qrcode img{ width:60%; max-width:327px; max-height:327px;}
.register-success-main .pc{ font-size:15px; color:#000; margin-top:50px;}
.register-success-main .pc a{color:#fa9500; text-decoration:underline; margin-top:20px; display:block;}

.register-qrcode{ margin:14px 5%;}
.register-qrcode p{ text-align:center; width:45%; color:#000000; font-size:12px;}
.register-qrcode p img{ max-width:260px; max-height:260px; width:100%; margin-bottom:10px;}
.register-download-btn{ font-size:18px; color:#fff;}
.register-download-btn p{ background:#f4950a; border-radius:5px; text-align:center; margin-top:15px; padding:6px 0;}
.register-contact-way{ font-size:9px; color:#666666; line-height:15px; margin-top:19px;}
.register-bottom{font-size:9px; color:#666666; margin-top:30px; text-align:center;line-height:15px;}
.register-download-app{ position:fixed; left:0; top:0; background:rgba(0,0,0,0.5); width:100%; height:100%; z-index:999; color:#fff; font-size:18px; text-align:center; display:none;}
.register-download-app .redo-app-img{ margin-bottom:10px; margin-top:30px; text-align:right; margin-right:7%;}
.register-download-app .redo-app-img img{ max-width:193px; max-height:148px; width:50%;}
.register-bonus{ background:#fff; border-radius:3px; padding:9px; margin-bottom:10px;}
.register-bonus-main{ border-radius:3px; border:1px solid #f69503; padding:10px 3%;}
.register-bonus-main .register-bonus-main1{ height:50px; line-height:50px; margin-bottom:10px;}
.register-bonus-main .register-bonus-main1 span{ width:30%; display:block; float:left;}
.register-bonus-main .register-bonus-main1 span img{ width:100%; vertical-align:-webkit-baseline-middle; max-height:56px;}
.register-bonus-main .register-bonus-main1 b{ color:#fa4d1c; font-size:45px; font-style:italic; float:left; width:40%; text-align:center;}
.register-bonus-main .register-bonus-main2 img{ max-height:47px; width:100%;}
.register .money-register-introduce7{ border:6px solid #c8a7f9; padding-bottom:0;}
.register .money-register-introduce7 h1{ color:#f39800; border-bottom-color:#c8a7f9;}
.register .money-register-introduce7 .introduce-main img{ width:100%; max-height:364px;}
.register-video{ position:fixed; left:0; top:0;background:#000;width:100%; height:100%; display:none;}
.register-video .video-popup-main{ position:relative;}
.register-video .video-popup-main .video-popup-close{  position:absolute;top:20px; right:10px;}
.register-video .video-popup-main .video-popup-close img{ width:25px; height:25px;}
.register-video .video-popup-main video{ margin-top:30%; }
.register-prompt{ text-align:center; margin-top:14px;}