@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0;}

.product-details-main{ background:#fff; margin-bottom:20px; padding-top:20px; padding-bottom:20px;}
.product-details-main h1{ font-size:18px; color:#333; margin-bottom:20px;}
.product-details-main p.word-main{ line-height:2em; font-size:14px; margin-bottom:10px;}
.product-details-main p.img-border img{ width:100%; border:1px solid #ccc; }
.product-details-main p.img-border{text-align:center; margin-bottom:20px;}
.product-details-main h2{font-size:15px; color:#333; margin-bottom:10px;}

















