/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family:"微软雅黑";
	 -webkit-text-size-adjust: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* add */
body {font-size:12px;margin:0;padding:0;font-family:"微软雅黑";color:#595757;/*background:#f3f3f3;*/}
body,html{height:100%;}
fieldset img{border:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
select,input{vertical-align:middle}
.clear { display:block !important; clear:both !important; float:none !important; margin:0 !important; padding:0 !important; height:0; line-height:0; font-size:0; overflow:hidden;}
.clearfix { zoom:1; }
.clearfix:after { content:""; display:block; clear:both; height:0; }
.spacer{clear:both; font-size:0; height:0; line-height:0;}
a{color:#595757;font-family: "微软雅黑";text-decoration:none}
img,input,label{vertical-align:middle;}/*垂直居中*/
label.error {display: block;padding-bottom: 5px;color: #f00;}
.fl{ float:left;}
.fr{ float:right;}
input, select{border:none; height: 36px;line-height: 36px;font-size:14px; padding-left:1%; border-radius:5px;font-family:"微软雅黑";}
input[type="submit"]{ padding-left:0; letter-spacing:10px;}
input:focus, select:focus{outline: none;}
input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none; border-radius:5px; padding-left:0;font-family:"微软雅黑"; }
textarea {-webkit-appearance: none;border-radius:5px;} 
::-webkit-input-placeholder { color:#c9caca; }
::-moz-placeholder { color:#c9caca; } /* firefox 19+ */
:-ms-input-placeholder { color:#c9caca; } /* ie */
input:-moz-placeholder { color:#c9caca; }
.ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page{ background:#f3f3f3;}
/*common*/
.transparent-back{position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: rgba(40,40,40,0.3);display:none; z-index:888;}
.main{ margin-bottom:100px;}
.common{text-align:center;border:none;text-shadow:none;font-family:"微软雅黑";font-weight:normal;}
.ui-body-c .ui-link, .ui-body-c .ui-link:visited, .ui-body-c .ui-link:hover, .ui-body-c .ui-link:active{color:#595757;font-weight:normal;}
.ui-bar-a a.ui-link, .ui-bar-a a.ui-link:visited, .ui-bar-a a.ui-link:hover, .ui-bar-a a.ui-link:active {font-weight: normal; color:#595757;}
.ui-bar-a {background: #fff;border:none;text-shadow:none; color:#595757;font-weight: normal;}
.ui-header .ui-title, .ui-footer .ui-title{ margin:0;}
.ui-body-c, .ui-overlay-c{text-shadow:none;background:none;background-image:none;}
.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea,.ui-body-c button{font-family:"微软雅黑";}
.ui-body-c .ui-link-inherit{color:inherit;}
.ui-link.btn-a, .ui-link.btn-a:visited, .ui-link.btn-a:hover, .ui-link.btn-a:active{ color:#fff;}
.ui-loading .ui-loader{display:none}
.ui-icon, .ui-icon-searchfield:after{ background-image:url(../images/icons-18-white.png);}
.ui-content{ padding:10px 10px;}
.icon{ background:url(../images/icon.png) no-repeat; display:inline-block;}
.header{ height:45px; line-height:45px;background: -webkit-linear-gradient(#f5b538, #f4950a); background: -o-linear-gradient(#f5b538, #f4950a); background: -moz-linear-gradient(#f5b538, #f4950a);background: linear-gradient(#f5b538, #f4950a); position:relative; }
.header.ui-bar-a h1{font-size:18px; color:#fff;}
.header .return-icon{ position:absolute; left:10px; top:0;}
.header .return-icon img{ max-height:40px; max-width:40px; width:50%;}
.footer{ position:fixed; bottom:0; left:0; width:100%; }
.footer.ui-bar-a{border-top: 1px solid #e5e5e5; padding:10px 0;font-size:11px; z-index:2; }
.footer ul li{ width:25%; text-align:center;}
.footer ul li a{ display:block;}
.footer ul li b{display:inline-block; width:27px; height:25px;}
.footer ul li.footer-index b{background:url(../images/icon1.png) no-repeat center;  background-size:92%;}
.footer ul li.footer-invest b{background:url(../images/icon3.png) no-repeat center; background-size:92%; }
.footer ul li.footer-account b{background:url(../images/icon5.png) no-repeat center; background-size:92%; }
.footer ul li.footer-more b{background:url(../images/icon7.png) no-repeat center; background-size:92%; }
.footer ul li.hover a.ui-link, .footer ul li.hover a.ui-link:visited, .footer ul li.hover a.ui-link:hover, .footer ul li.hover a.ui-link:active{ color:#f4950a;}
.footer ul .footer-index.hover b{background:url(../images/icon2.png) no-repeat center;  background-size:92%;}
.footer ul .footer-invest.hover b{background:url(../images/icon4.png) no-repeat center; background-size:92%; }
.footer ul .footer-account.hover b{background:url(../images/icon6.png) no-repeat center; background-size:92%; }
.footer ul .footer-more.hover b{background:url(../images/icon8.png) no-repeat center; background-size:92%; }
.list-common li{ background:#fff; border-bottom:1px solid #e5e5e5;}
.list-common li:last-child{ border-bottom:none;}
.list-common .list-margin{ margin-top:15px;}
.list-common li a{ display:block;font-size:15px; color:#898989;}
.list-common li a.ui-link, .list-common li a.ui-link:visited, .list-common li a.ui-link:hover {color:#898989;}
.list-common li .list-left{ line-height:21px;}
.list-common li .list-right span.already{ color:#f4950a;}
.list-common li .list-right b.icon{width: 10px;height: 21px; background:url(../images/list.png) no-repeat center; background-size:100%;vertical-align:middle; margin-left:10px;}
.slide-button .ui-body, .slide-button .ui-field-contain{ padding:0;}
.slide-button .ui-field-contain .ui-btn-active{ background: #f69503; background-image:none; color:#fff;text-shadow:none; border:none}
.slide-button .ui-field-contain .ui-btn-down-c{ background: #f3f3f3; background-image:none; color:#898989;text-shadow:none; border:none}
.click-load{ text-align:center; font-size:14px; margin-top:20px;}
.click-load a{ color:#898989;}
/*提示*/
.prompt-popup{ background:#fff; position:fixed; left:10%; top:30%; width:80%; z-index:999; border-radius:5px; font-size:14px;}
.prompt-popup h1{ color:#fff; background:#f6950a; text-align:center; font-size:16px; border-top-left-radius:5px; border-top-right-radius:5px; height:35px; line-height:35px;}
.prompt-popup .prompt-popup-main{ padding:10px 5%;text-align:center;font-size:14px;width:80%;margin:0 auto;}
.prompt-popup .prompt-popup-btn{ border-top:1px solid #e5e5e5;width:80%;margin:0 auto;}
.prompt-popup .prompt-popup-btn a{display:block;float:left; text-align:center; height:28px; line-height:28px; color:#fff; margin:10px 0; margin-left:7%; width:40%; border-radius:5px;}
.prompt-popup .prompt-popup-btn a.cancel{ background:#d2d2d2;}
.prompt-popup .prompt-popup-btn a.open{ background:#f6950a;}
/*筛选*/
.screen-main{ background:#fff; position:fixed; top:0; right:-500px; width:65%; max-width:500px; height:100%; z-index:999;}
.screen-main h1{ font-size:16px; color:#333; border-bottom:1px solid #e6e6e6; padding:36px 0 10px 15px;}
.screen-main .screen-center{ margin:20px 15px; font-size:12px;}
.screen-main .screen-center h2{ color:#333; margin:10px 0;}
.screen-main .screen-center .screen-center-condition a{ display:block; font-size:12px; border:1px solid #cccccc; color:#666; text-align:center; height:28px; line-height:28px; border-radius:3px; margin-bottom:7px;}
.transferable-screen .screen-center .screen-center-condition a{ width:100%; }
.transferable-screen .screen-center .screen-center-condition a img{ width:10px; height:5px; margin-left:5px;}
.screen-main .screen-center .screen-center-condition a.hover{ color:#f69503; border:1px solid #fda017;}
.screen-main .screen-center .screen-btn a{ display:block; width:100%; background:#fda017; color:#fff; height:40px; line-height:40px; font-size:18px; text-align:center; border-radius:3px; margin-top:50px; }
.plan-screen .screen-center .screen-center-condition a{ width:30%; float:left; margin-left:3%; }
.plan-screen .screen-center .screen-center-condition a:first-child{ margin-left:0;}
.plan-screen .screen-center .screen-center4{ border-bottom:1px solid #e6e6e6; padding-bottom:15px; color:#333;}
.plan-screen .screen-center .screen-center4 b{ color:#666666;}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), not all, only screen and (min-resolution: 200dpi){
  .ui-icon-arrow-d { background-position:-216px -1px;}
}
@media screen and (max-width:384px){
 .ui-slider-track .ui-btn.ui-slider-handle, .ui-slider-switch .ui-btn.ui-slider-handle{ /*width:1px; height:7px;*/}
 .screen-main h1{padding-top:10px;}
 .screen-main .screen-center{ margin:0 15px;}
 .screen-main .screen-center h2{ margin:5px 0;}
 .screen-main .screen-center .screen-btn a{ margin-top:30px;}
 .plan-screen .screen-center .screen-center4{ padding-top:20px;}
}
@media screen and (max-width:320px){
 .list-common li .list-right b.icon{background-size:80%;}
}











