@charset "utf-8";
/* CSS Document */

*{ padding:0; margin:0; }

/*五周年*/
.fiveyear-activity{ background:url(../images/activity/fiveyear/background.jpg) no-repeat center; width:100%; height:2704px; overflow:hidden}
.five-year-center{ width:1000px; margin:0 auto;}
.five-year-main1{ font-size:20px; color:#fff; text-shadow:2px 2px 15px #666; line-height:30px; margin-top:613px;}
.five-year-main2{ margin-top:50px; background:url(../images/activity/fiveyear/line.jpg) repeat-x; height:1387px; overflow:hidden; padding:0 50px;}
.five-year-main2 .fiveyear-main2-title{ margin-top:30px;}
.five-year-main2 .fiveyear-main2-explain{ font-size:18px; color:#190032; line-height:27px; margin-top:15px; margin-bottom:35px;}
.five-year-main2 dl .fiveyear-main2-money{ width:137px; border-top-left-radius:5px; border-bottom-left-radius:5px;}
.five-year-main2 dl .fiveyear-main2-reward1{ width:379px; margin-left:2px;padding:13px 0 0 14px; }
.five-year-main2 dl .fiveyear-main2-reward2{ width:379px; margin-left:2px;border-top-right-radius:5px; border-bottom-right-radius:5px;padding:13px 0 0 14px;}
.five-year-main2 dl dt > div{background:url(../images/activity/fiveyear/line2.jpg) repeat-x; height:74px; padding:13px 0;}
.five-year-main2 dl dt{ color:#fff; font-size:18px; font-weight:bold;}
.five-year-main2 dl dd > div{ margin-top:4px; background:url(../images/activity/fiveyear/line3.jpg) repeat-x; height:100px;}
.five-year-main2 dl dd.odd > div{background:url(../images/activity/fiveyear/line2.jpg) repeat-x; height:100px;}
.five-year-main2 dl dd .fiveyear-main2-money{ color:#595757; font-size:18px; line-height:100px;}
.five-year-main2 dl dd .fiveyear-main2-name{ color:#595757; font-size:16px; margin-bottom:12px;}
.five-year-main2 dl dd .fiveyear-main2-value{color:#e8004c; font-size:14px;}
.five-year-main2 dl dd.odd .fiveyear-main2-money, .five-year-main2 dl dd.odd .fiveyear-main2-name{ color:#fff;}
.five-year-main2 dl dd.odd .fiveyear-main2-value{color:#fed086;}
.five-year-main2 dl dd .fiveyear-main2-reward1, .five-year-main2 dl dd .fiveyear-main2-reward2{ position:relative}
.five-year-main2 dl dd .fiveyear-main2-img{ position:absolute; right:5px; top:0; width:160px; height:100px;}
.five-year-btn a{ display:block; color:#fff; text-align:center; background:url(../images/activity/fiveyear/line2.jpg) repeat-x; height:60px; width:308px; line-height:60px; font-weight:bold; font-size:28px; margin:49px auto;}
.five-year-main3{background:url(../images/activity/fiveyear/line4.jpg) repeat-x; height:445px; margin-top:50px; font-size:18px;}
.five-year-main3 h1{ font-size:24px; font-weight:bold; color:#f97051; padding-left:35px; padding-top:35px; margin-bottom:20px;}
.five-year-main3 p{ padding:0 105px; margin-bottom:10px; color:#595757; line-height:28px;}
.five-year-main4{ font-size:14px; color:#595757; margin-top:10px;}

/*9月*/
.september-activity{ background:#fc4f3e;}
.september-activity .september-activity-banner{ background:url(../images/activity/september/banner.jpg) no-repeat center; width:100%; height:780px;}
.september-activity-center{ width:980px; margin:0 auto;line-height:33px;color:#fff;}
.september-activity .september-activity-main1 h1{ font-size:26px; color:#ffe512; margin:42px 0 52px; text-align:center; }
.september-activity .september-activity-main1 p{ font-size:20px; }
.september-activity-main2 p{ margin-top:50px;}
.september-activity-main2 p a{ display:block; width:460px;color:#fff; text-align:center;}
.september-activity .september-activity-main3{ margin-top:33px;}
.september-activity .september-activity-main3 .seac-main3-bg1{ background:url(../images/activity/september/img9.png) no-repeat center; width:100%; height:66px; }
.september-activity .september-activity-main3 h2{ font-size:26px; margin-bottom:25px;}
.september-activity .september-activity-main3 .seac-main3-bg2{ background:#fb8624;font-size:20px; padding:47px 0;}
.september-activity .september-activity-main3 .seac-main3-bg2 p span{ display:block; float:left; width:5%;}
.september-activity .september-activity-main3 .seac-main3-bg2 p b{ display:block; float:left; width:95%;}

/*10月*/
.october-activity{ background:url(../images/activity/october/bg.jpg) no-repeat center; width:100%; height:2615px; overflow:hidden}
.october-activity-center{ width:1000px; margin:0 auto;}
.october-activity-main1{ font-size:20px; color:#fff; text-shadow:2px 2px 15px #666; line-height:30px; margin-top:613px;}
.october-activity-main2{ margin-top:50px;background: -webkit-linear-gradient(#fffefe, #fff3de); background: -o-linear-gradient(#fffefe, #fff3de); background: -moz-linear-gradient(#fffefe, #fff3de);background: linear-gradient(#fffefe, #fff3de); overflow:hidden; padding:0 50px;}
.october-activity-main2 .ocac-main2-title{ margin-top:30px;}
.october-activity-main2 .ocac-main2-explain{ font-size:18px; color:#190032; line-height:27px; margin-top:15px; margin-bottom:35px;}
.october-activity-main2 dl .ocac-main2-type{ width:136px; border-top-left-radius:5px; border-bottom-left-radius:5px;}
.october-activity-main2 dl .ocac-main2-time1{ width:133px; margin-left:2px; }
.october-activity-main2 dl .ocac-main2-time2{ width:133px; margin-left:2px; }
.october-activity-main2 dl .ocac-main2-gift{ width:492px; margin-left:2px;border-top-right-radius:5px; border-bottom-right-radius:5px;}
.october-activity-main2 dl dt > div{background:#fc7e5c; height:74px; line-height:74px;}
.october-activity-main2 dl dt{ color:#fff; font-size:18px; font-weight:bold;}
.october-activity-main2 dl dd > div{ margin-top:4px; background:#fff59d; height:100px; color:#595757; font-size:16px;}
.october-activity-main2 dl dd.odd > div{background:#fc7e5c; height:100px; color:#fff;}
.october-activity-main2 dl dd .ocac-main2-type{ font-size:20px; line-height:30px; padding-top:20px;}
.october-activity-main2 dl dd .ocac-main2-time1, .october-activity-main2 dl dd .ocac-main2-time2{ line-height:100px;}
.october-activity-main2 dl dd .ocac-main2-gift div:first-child{ padding:12px 16px;}
.october-activity-main2 dl dd .ocac-main2-gift .ocac-main2-giftmoney{ font-size:12px; color:#e8004c; margin-top:15px;}
.october-activity-main2 dl dd.odd .ocac-main2-gift .ocac-main2-giftmoney{ color:#fed086;}
.october-activity-main2 dl dd .ocac-main2-gift .ocac-main2-giftmoney b{ font-size:14px;}
.october-activity-main2 dl dd .ocac-main2-gift .ocac-main2-giftimg{ margin-right:8px;}
.october-activity-btn{ margin:43px auto; font-size:28px; font-weight:bold;}
.october-activity-btn a{ width:298px; height:60px; line-height:60px; text-align:center; margin-left:3px;}
.october-activity-btn a:first-child{ margin-left:0;}
.october-activity-btn .october-activity-btn1, .october-activity-btn .october-activity-btn3{ color:#fc7f5c; border:2px solid #fc7f5c; line-height:56px;}
.october-activity-btn .october-activity-btn2{ color:#fff; background:#fc7f5c;}
.october-activity-main3{background: -webkit-linear-gradient(#fffefe, #fff3de); background: -o-linear-gradient(#fffefe, #fff3de); background: -moz-linear-gradient(#fffefe, #fff3de);background: linear-gradient(#fffefe, #fff3de); padding:40px 35px;}
.october-activity-main3{ margin-top:30px; font-size:18px; color:#595757;}
.october-activity-main3 .october-activity-rule h1{ color:#f97051; font-weight:bold; margin-bottom:26px; font-size:24px;}
.october-activity-main3 .october-activity-rule p { padding:0 70px; line-height:35px;}
.october-activity-main3  p span, .october-activity-main3  p b{ float:left;}
.october-activity-main3 .october-activity-rule p span{margin-right:18px;}
.october-activity-main3 .october-activity-rule p b{width:757px;}
.october-activity-main3 .october-activity-example{ margin-top:15px;}
.october-activity-main3 .october-activity-example h2{ margin-bottom:23px;}
.october-activity-main3 .october-activity-example p { padding:0 70px 0 0; line-height:35px;}
.october-activity-main3 .october-activity-example p span{ background:url(../images/activity/october/img7.png) no-repeat; width:52px; height:50px; text-align:center; line-height:50px; color:#fff59d; font-weight:22px; font-size:22px;}
.october-activity-main3 .october-activity-example p b{ width:790px; margin-left:10px;}
.october-activity-main4{ font-size:14px; color:#595757; margin-top:30px;}

/*12月*/
.december-activity{background:url(../images/activity/december/bg.jpg) no-repeat center; width:100%; height:3299px; overflow:hidden;}
.december-activity-nav{ height:66px; line-height:66px; background:rgba(0, 0, 0, 0.3); }
.december-activity-nav a{color:#fff; font-size:24px; width:33%; text-align:center;}
.december-activity-nav a.hover{ color:#ffcc00;}
.december-activity-center{ width:1222px; margin:751px auto 0;}
.december-activity-main1{ background:url(../images/activity/december/time.png) no-repeat; height:167px; font-size:24px; color:#fff; padding-left:52px; padding-top:99px;}
.december-activity .october-activity-main2{margin:0 auto; width:1047px;  background:url(../images/activity/december/bg2.jpg) repeat-y; border-top-left-radius:0;border-top-right-radius:0; padding:0;}
.december-activity .october-activity-main2 .december-activity-main2{ padding:0 77px 100px;}
.december-activity-bottom{ background:url(../images/activity/december/bottom.jpg) repeat-x; height:10px;}
.december-activity .october-activity-main2 dl .ocac-main2-gift{ width:485px;}
.december-activity-main2 .deac-main2-explain{ font-size:18px; margin-top:64px; color:#333333; margin-bottom:27px;}
.december-activity .october-activity-main3{ width:1055px; border:20px solid #c90304; background:#fff; margin:190px auto 0;box-shadow:0 0 20px rgba(245, 112, 0, 0.4); position:relative;}
.december-activity .october-activity-main3 .deac-main3-img1{ position:absolute; top:-60px; right:-128px;}
.december-activity .october-activity-main3 .deac-main3-img2{ position:absolute; bottom:-60px; right:-188px;}
.december-activity .october-activity-main4{width:1055px; margin:55px auto;}

/*播种希望*/
.sowhope-activity-banner{ background:url(../images/activity/sowhope/banner.jpg) no-repeat center; width:100%; height:718px;}
.sowhope-activity-bg{ background:#bcf0a5 url(../images/activity/sowhope/bg.jpg) no-repeat center 0; padding-bottom:116px;}
.sowhope-activity-bg .main{ background:#f8ffed; padding:60px 90px; }
.sowhope-activity-bg h1{ font-size:32px; font-weight:bold; color:#51b400; background:url(../images/activity/sowhope/title.png) no-repeat; width:806px; height:73px; line-height:73px; margin:0 auto;}
.sowhope-activity-bg .sowhope-activity-explain{ font-size:24px; font-weight:bold; color:#51b400; line-height:35px; margin-top:45px; margin-bottom:36px; text-indent:2em;}
.sowhope-activity-bg .october-activity-main2{ margin:0 auto; background:none; padding:0;}
.sowhope-activity-bg .october-activity-main2 dl dt > div, .sowhope-activity-bg .october-activity-main2 dl dd.odd > div{ background:#80c93f;}
.sowhope-activity-bg .october-activity-main2 dl dd > div{ background:#ffff8d;}
.sowhope-activity-bg .october-activity-main2 dl dd.odd .ocac-main2-gift .ocac-main2-giftmoney{ color:#ffff00;}
.sowhope-activity-bg .october-activity-main2 dl dd .ocac-main2-gift .ocac-main2-giftmoney{ color:#f78000;}
.sowhope-activity-main{ margin-top:32px;}
.sowhope-activity-main1{ background:url(../images/activity/sowhope/rule.png) no-repeat; height:622px; width:898px; color:#397504; font-size:18px; overflow:hidden; margin:0 auto;}
.sowhope-activity-main1 p{ width:748px; margin:0 auto; line-height:38px; padding-left:30px;}
.sowhope-activity-main1 p.sowhope-activity-rule{ margin-top:80px;}
.sowhope-activity-main1 p.sowhope-activity-example{ margin-top:80px;}
.sowhope-activity-main1 p.sowhope-activity-process{ margin-top:90px;}
.sowhope-activity-btn a{ display:block; width:505px; height:66px; line-height:66px; background:#80c93f; font-size:32px; color:#fff; font-weight:bold; margin:0 auto;}
.sowhope-activity-bg .october-activity-main2 dl .ocac-main2-time1, .sowhope-activity-bg .october-activity-main2 dl .ocac-main2-time2, .sowhope-activity-bg .october-activity-main2 dl .ocac-main2-time3{ width:98px;margin-left: 2px;}
.sowhope-activity-bg .october-activity-main2 dl dd .ocac-main2-time3{ line-height:100px;}
.sowhope-activity-bg .october-activity-main2 dl .ocac-main2-type{ width:105px;}
/*赏花季*/
.flowers-activity-banner{ background:url(../images/activity/flowers/banner.jpg) no-repeat center; width:100%; height:618px;}
.flowers-activity-bg{ background:#faf1ea; padding-bottom:70px;}
.flowers-activity-title{ font-size:30px; color:#d23340; line-height:94px; background:url(../images/activity/flowers/title.png) no-repeat; width:525px; height:94px; margin:0 auto 35px;}
.flowers-activity-bg .main > div{ margin-bottom:62px;}
.flowers-activity-explain{ font-size:18px; color:#7c3a4b; line-height:30px;}
.flowers-activity-table{ margin-top:32px;}
.flowers-activity-table dt > div{ background:#ed849f; height:130px; font-size:24px; font-weight:bold; color:#fff;}
.flowers-activity-table dt .table-type, .flowers-activity-table dt .table-red{ line-height:130px;}
.flowers-activity-table .table-type{ width:312px;}
.flowers-activity-table .table-invest{ width:531px; margin-left:1px;}
.flowers-activity-table .table-red{ width:235px; margin-left:1px;}
.flowers-activity-table dt .table-invest p{ height:64px; line-height:64px;}
.flowers-activity-table dt .table-invest p b{ display:block; float:left; width:177px; font-weight:bold; border-top:1px solid #fff; border-left:1px solid #fff;}
.flowers-activity-table dd { margin-top:1px;}
.flowers-activity-table dd .table-type{ color:#7c3a4b; font-size:24px; font-weight:bold; background:#f7dbdb; height:809px; line-height:810px;}
.flowers-activity-table dd .table-common{ height:80px; background:#f6d0d3; margin-bottom:1px;}
.flowers-activity-table dd p.odd{ background:#f3bac4;}
.flowers-activity-table dd .table-invest p{line-height:80px; font-size:18px; color:#7c3a4b;}
.flowers-activity-table dd .table-invest p b{ border-left:1px solid #fff; display:block; float:left; width:177px; text-align:center;}
.flowers-activity-table dd .table-invest p b:first-child{ border-left:none;}
.flowers-activity-table dd .table-red p{ overflow:hidden;}
.flowers-activity-table dd .table-red b{ display:block; background:url(../images/activity/flowers/red.png) no-repeat; width:169px; height:66px; line-height:66px; color:#fff; font-size:24px; margin:7px auto; padding-left:55px;}
.flowers-activity-btn a{ display:block; height:68px; line-height:68px; background:#ed849f; font-size:30px; color:#fff; width:808px; margin:68px auto 74px;}
.flowers-activity-prompt{ font-size:14px; color:#8c5460; width:900px; margin:0 auto;}
.flowers-activity-prompt b{ display:block; float:left; width:118px; border-top:1px solid #8c5460; margin-top:7px;}
.flowers-activity-prompt span{ float:left; width:664px;}





