@charset "utf-8";
/* CSS Document */

*{ padding:0; margin:0; }

.app-banner{ background:url(../images/app/banner.jpg) no-repeat center; height:389px; margin:0 auto;}
.app-banner-main{ position:relative;}
.app-banner-main a{ position:absolute;left:546px; display:block; width:225px; height:54px;}
.app-banner-main a.app-banner-iphone{ top:229px; }
.app-banner-main a.app-banner-android{ top:299px;}
.app-main > div{ height:625px; background:#fafafa;}
.app-main .odd{ background:#fff;}
.app-main dl{ width:947px; margin:0 auto;}
.app-main dt, .app-main dd{ width:50%;font-weight:normal;}
.app-main dl h1{ font-size:42px; color:#f4950a; margin-bottom:40px;}
.app-main dl .app-main-word{ color:#727272; font-size:25px; }
.app-main1 dl dt img{ margin-top:57px;}
.app-main1 dl dd, .app-main3 dl dd{ padding-top:215px;}
.app-main2 dl dd img{ margin-top:223px;}
.app-main2 dl dt{ padding-top:89px;}
.app-main3 dl dt img{ margin-top:40px;}
.app-main4 dl dt img{ margin-top:55px;}
.app-main4 dl dd{ padding-top:328px;}
.app-main5 dl dt{ padding-top:407px;}
.app-main5 dl dd img{ margin-top:70px;}
.app-main6 dl dd{ padding-top:225px;}
.app-main6 dl dt img{ margin-top:62px;}
.app-main7 dl dd img{ margin-top:75px;}
.app-main7 dl dt{ padding-top:210px;}
.app-main7 .app-main7-btn a{ display:block; margin-bottom:19px; margin-right:16px;}
.app-main7 dl dt div{ margin-top:58px;}
.app-main7 dl dt .app-main-word{ margin-left:200px;}



