img {
  border:0 none;
}
h1, h2, h3, h4, h5 {
  font-size:14px;
}
a, area {
 blr:expression(this.onFocus=this.blur())
} /*for IE*/
a:focus {
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
}/*for Firefox*/

table.base {
  border:0;
  margin:0;
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
}
table.base th, table.base td {
  background:url(/assets/new_image/lender/borrower_info/h_line2.gif) left bottom repeat-x;
}
table.base th {
  padding:0 5px;
}
table.base td {
  padding:10px 5px;
  color:#999;
}
table.base .hover td {
  background:#f8f8f8;
}
/*a:hover {
  color:#ff9c00;
  text-decoration:underline;
}*/
.clear {
  clear:both;
}
i {
  font-style:normal;
}
.f_left {
  float:left;
}
.f_right {
  float:right;
}
.clear {
  clear:both;
  overflow:hidden;
  display:block;
  font:400 0px/0 arial;
  height:0;
  background:#fff;
}
.mt_10 {
  margin-top:10px;
}
.mb_10 {
  margin-bottom:10px;
}
.ml_10 {
  margin-left:10px;
}
.mr_10 {
  margin-right:10px;
}
.w_100per {
  width:100%;
}
.w_10 {
  width:10px;
}
.w_20 {
  width:20px;
}
.w_30 {
  width:30px;
}
.w_40 {
  width:40px;
}
.w_50 {
  width:50px;
}
.w_60 {
  width:60px;
}
.w_70 {
  width:70px;
}
.w_80 {
  width:80px;
}
.w_90 {
  width:90px;
}
.w_100 {
  width:100px;
}
.w_110 {
  width:110px;
}
.w_120 {
  width:120px;
}
.w_130 {
  width:130px;
}
.w_140 {
  width:140px;
}
.w_150 {
  width:150px;
}
.w_160 {
  width:160px;
}
.w_170 {
  width:170px;
}
.w_180 {
  width:180px;
}
.w_190 {
  width:190px;
}
.w_200 {
  width:200px;
}
.w_220 {
  width:220px;
}
.w_240 {
  width:240px;
}
.w_260 {
  width:260px;
}
.w_280 {
  width:280px;
}
.w_300 {
  width:300px;
}
.w_400 {
  width:400px;
}
hr {
  color:#fff;
  background:#eee;
  border:0;
  height:1px;
  margin:30px auto;
  clear:both;
}
.m_8 {
  height:8px; /*空间间距8px*/
  font:400 1px/0 arial;
  clear:both;
}
.c_red {
  color:red;
  font-weight:400;
}
.c_org {
  color:#FE830C;
  font-weight:400;
}
.dis {
  display:block;
}
.undis {
  display:none;
}

/*###############【客户网站】################*/
.ww {
  width:1000px;
  margin:0 auto;
  
}



#WebPage {
  background:#f6f6f6;
}
#WebPage .menu {
  background:url(/assets/new_image/lender/borrower_info/menuBG_1.gif) repeat-x #233053;
  height:42px;
  line-height:42px;
  position:relative;
  z-index:10;
  width:100%;
}
#WebPage .menu-div a {
  line-height:42px;
  display:inline;
}
#WebPage .menu-div {
  height:42px;
  width:1000px;
  background:none;
  position:relative;
  z-index:100;
  border:none;
}
#WebPage .menu-div i.clear {
  background:none;
  border:none;
  height:0;
  position:static;
}
#WebPage .topbar-r {
  position:static;
  right:auto;
  top:auto;
}
#WebPage .topbar-m {
  height:30px;
}
#WebPage .ico_fav {
  display:block;
}
#WebPage .menu-home {
  height:42px;
  line-height:42px;
  background:url(/assets/new_image/lender/borrower_info/menuBG_2.gif) repeat-x #8a0810;
  width:178px;
  float:left;
  display:inline;
  margin:0;
  position:static;
  padding:0;
  text-align:center;
}
#WebPage .menu-home a.menuA {
  background:url(/assets/new_image/lender/borrower_info/menu-home_ico.gif) right center no-repeat;
  padding-right:20px;
  font-size:14px;
}
#WebPage .menu-ul, #WebPage .menu-ul a {
  height:42px;
  display:block;
}
#WebPage .menu-li a {
  padding:0 30px;
  font-size:14px;
}
#WebPage .menu-li a:hover {
  background:#18203e;
}
#WebPage .menu-li {
  height:42px;
  border:0 none;
  padding:0;
  width:auto;
}
#WebPage .foot {
  background:#f8f8f8;
  width:100%;
}
#WebPage .menu-ul li.on a {
  background:#383838;
}
#WebPage .Log_a {
  float:right;
  background:url(/assets/new_image/lender/borrower_info/menu_bg_ww.gif) left center repeat-x #88070f;
  height:26px;
  line-height:26px;
  margin:9px 0 0 0;
  border-radius:3px;
  text-align:center;
}
#WebPage .Log_a a {
  margin:0;
  font:400 12px/17px  Verdana, SunSans-Regular, Sans-Serif, Arial;
  padding:5px 10px;
  display:inline-block;
}
#WebPage .Log_a_line {
  color:#520b0f;
  font:400 12px/26px Verdana, SunSans-Regular, Sans-Serif, Arial;
  margin:0;
}
#WebPage .serch_ww {
  float:right;
  width:170px;
  height:26px;
  display:inline;
  margin:9px 12px 0 0;
  background:#56637a;
  border-radius:3px;
  display:none;
}
#WebPage .serch_inp {
  float:left;
  width:150px;
  height:26px;
  border:0 none;
}
#WebPage input.serch_inp {
  background:none transparent;
  color:#313131;
}
#WebPage .serch_btn {
  float:right;
  width:20px;
  height:26px;
  background:url(/assets/new_image/lender/borrower_info/ico_serch_ww.gif) center center no-repeat;
  cursor:pointer;
}
#WebPage .serch_btn_ww {
  float:right;
  background:none transparent;
  border:0 none;
}



.rate-1 {
  background-position:0 0;
}
.rate-2 {
  background-position:-60px 0;
}
.rate-3 {
  background-position:-120px 0;
}
.rate-4 {
  background-position:-180px 0;
}
.rate-5 {
  background-position:-240px 0;
}
.rate-6 {
  background-position:-300px 0;
}
.rate-7 {
  background-position:-360px 0;
}
.rate-8 {
  background-position:-420px 0;
}
.rate-9 {
  background-position:-480px 0;
}
.rate-10 {
  background-position:-540px 0;
}
.rate-11 {
  background-position:0 -60px;
}
.rate-12 {
  background-position:-60px -60px;
}
.rate-13 {
  background-position:-120px -60px;
}
.rate-14 {
  background-position:-180px -60px;
}
.rate-15 {
  background-position:-240px -60px;
}
.rate-16 {
  background-position:-300px -60px;
}
.rate-17 {
  background-position:-360px -60px;
}
.rate-18 {
  background-position:-420px -60px;
}
.rate-19 {
  background-position:-480px -60px;
}
.rate-20 {
  background-position:-540px -60px;
}
.rate-21 {
  background-position:0 -120px;
}
.rate-22 {
  background-position:-60px -120px;
}
.rate-23 {
  background-position:-120px -120px;
}
.rate-24 {
  background-position:-180px -120px;
}
.rate-25 {
  background-position:-240px -120px;
}
.rate-26 {
  background-position:-300px -120px;
}
.rate-27 {
  background-position:-360px -120px;
}
.rate-28 {
  background-position:-420px -120px;
}
.rate-29 {
  background-position:-480px -120px;
}
.rate-30 {
  background-position:-540px -120px;
}
.rate-31 {
  background-position:0 -180px;
}
.rate-32 {
  background-position:-60px -180px;
}
.rate-33 {
  background-position:-120px -180px;
}
.rate-34 {
  background-position:-180px -180px;
}
.rate-35 {
  background-position:-240px -180px;
}
.rate-36 {
  background-position:-300px -180px;
}
.rate-37 {
  background-position:-360px -180px;
}
.rate-38 {
  background-position:-420px -180px;
}
.rate-39 {
  background-position:-480px -180px;
}
.rate-40 {
  background-position:-540px -180px;
}
.rate-41 {
  background-position:0 -240px;
}
.rate-42 {
  background-position:-60px -240px;
}
.rate-43 {
  background-position:-120px -240px;
}
.rate-44 {
  background-position:-180px -240px;
}
.rate-45 {
  background-position:-240px -240px;
}
.rate-46 {
  background-position:-300px -240px;
}
.rate-47 {
  background-position:-360px -240px;
}
.rate-48 {
  background-position:-420px -240px;
}
.rate-49 {
  background-position:-480px -240px;
}
.rate-50 {
  background-position:-540px -240px;
}
.rate-51 {
  background-position:0 -300px;
}
.rate-52 {
  background-position:-60px -300px;
}
.rate-53 {
  background-position:-120px -300px;
}
.rate-54 {
  background-position:-180px -300px;
}
.rate-55 {
  background-position:-240px -300px;
}
.rate-56 {
  background-position:-300px -300px;
}
.rate-57 {
  background-position:-360px -300px;
}
.rate-58 {
  background-position:-420px -300px;
}
.rate-59 {
  background-position:-480px -300px;
}
.rate-60 {
  background-position:-540px -300px;
}
.rate-61 {
  background-position:0 -360px;
}
.rate-62 {
  background-position:-60px -360px;
}
.rate-63 {
  background-position:-120px -360px;
}
.rate-64 {
  background-position:-180px -360px;
}
.rate-65 {
  background-position:-240px -360px;
}
.rate-66 {
  background-position:-300px -360px;
}
.rate-67 {
  background-position:-360px -360px;
}
.rate-68 {
  background-position:-420px -360px;
}
.rate-69 {
  background-position:-480px -360px;
}
.rate-70 {
  background-position:-540px -360px;
}
.rate-71 {
  background-position:0 -420px;
}
.rate-72 {
  background-position:-60px -420px;
}
.rate-73 {
  background-position:-120px -420px;
}
.rate-74 {
  background-position:-180px -420px;
}
.rate-75 {
  background-position:-240px -420px;
}
.rate-76 {
  background-position:-300px -420px;
}
.rate-77 {
  background-position:-360px -420px;
}
.rate-78 {
  background-position:-420px -420px;
}
.rate-79 {
  background-position:-480px -420px;
}
.rate-80 {
  background-position:-540px -420px;
}
.rate-81 {
  background-position:0 0;
}
.rate-82 {
  background-position:-60px -480px;
}
.rate-83 {
  background-position:-120px -480px;
}
.rate-84 {
  background-position:-180px -480px;
}
.rate-85 {
  background-position:-240px -480px;
}
.rate-86 {
  background-position:-300px -480px;
}
.rate-87 {
  background-position:-360px -480px;
}
.rate-88 {
  background-position:-420px -480px;
}
.rate-89 {
  background-position:-480px -480px;
}
.rate-90 {
  background-position:-540px -480px;
}
.rate-91 {
  background-position:0 0;
}
.rate-92 {
  background-position:-60px -540px;
}
.rate-93 {
  background-position:-120px -540px;
}
.rate-94 {
  background-position:-180px -540px;
}
.rate-95 {
  background-position:-240px -540px;
}
.rate-96 {
  background-position:-300px -540px;
}
.rate-97 {
  background-position:-360px -540px;
}
.rate-98 {
  background-position:-420px -540px;
}
.rate-99 {
  background-position:-480px -540px;
}
.rate-100 {
  background-position:-540px -540px;
}









/*详情页*/
.XQPAGE {
  border:1px solid #ebebeb;
  margin-bottom:30px;
  background:#fff;
}
.XQPAGE .XQhead {
  height:60px;
  border-bottom:1px solid #ebebeb;
  background:#fbfbfb;
}
.XQhead .t {
  float:left;
  font-weight:bold;
  font-size:26px;
  font-family:"Microsoft YaHei",Verdana, SunSans-Regular, Sans-Serif, Arial;
  height:60px;
  line-height:60px;
  display:inline;
  margin:0px 0 0 30px;
  border-bottom:1px solid #51b511;
}
.XQhead .sp {
  float:right;
  font:400 14px/24px  "Microsoft YaHei",Verdana, SunSans-Regular, Sans-Serif, Arial;
  display:inline;
  margin:15px 30px 0 0;
}
.XQmain_L {
  float:left;
  width:580px;
  border:1px solid #ebebeb;
  display:inline;
  margin-left:30px;
  padding:10px 0 10px 10PX;
  height:250px;
  margin-top:20px;
  margin-bottom:20px;
}

.XQ_TOP{
  width:570px; border-bottom:1px dashed #ebebeb;
  }
/*.XQmain .vline {
  background:url(/assets/new_image/lender/borrower_info/vline.gif) right top repeat-y;
}*/
.XQmain .pSY {
  display:block;
  float:left;
  margin:0 10px 0 0;
  height:33px;
}
.XQmain_L .XQ_TOP .psy{
	margin-top:12px;
}
.XQmain .pSY .sy_1 {
  float:left;
  margin:0 0 5px;
  font:400 14px/24px  "Microsoft YaHei",Verdana, SunSans-Regular, Sans-Serif, Arial;
}
.XQmain .pSY .sy_2 {
  
  font:bold 22px/24px "Microsoft YaHei",Verdana, SunSans-Regular, Sans-Serif, Arial; margin-left:10px; color:#29abe2;
}
.XQmain .pSY .sy_2 .sy_i {
  font:400 18px/30px "Microsoft YaHei",Verdana, SunSans-Regular, Sans-Serif, Arial;
}
.XQmain .pSY .sy_2 .sy_y {
  margin:0 0 0 -5px;
}
.XQmain_R {
  float:right;
  width:280px;
  display:inline;
  margin-right:30px;
  padding:20px 20px;
  border: 1px solid #ebebeb;
  height:250px;
  margin-top:20px;
  margin-bottom:20px;
  background:#f7f7f7;
  
}
.XQmain .XQmain_R .pSY {
  width:auto;
}
.XQmain .Amount {
  width:230px;
}

.Recharge {
  clear:both;
  /*padding:10px 0;*/
}
.RechargeHead {
  overflow:hidden;
  height:30px;
  line-height:30px;
}
.RechargeHead .t, .RechargeHead .y {
  float:left;
  margin-right:10px;
}
.RechargeHead .r {
  float:right;
}
.RechargeInput {
  clear:both;
  height:38px;
  border:1px solid #ddd;
  color:#c4c4c4;
}
.TipDiv {
  clear:both;
  display:block;
  height:24px;
  width:100%;
}
.TipDiv .c_red {
  color:#C82E25;
}
.RechargeInput .inp {
  float:left;
  height:38px;
}
.RechargeInput .inp .input {
  width:250px;
  height:38px;
  border:0 none;
  color:#999;
}
.RechargeInput .y {
  float:right;
  height:38px;
  width:25px;
  text-align:center;
  line-height:38px;
  color:#666;
}

.Recharge .sy_btn {
  height:40px;
  display:block;
  background:#29abe2;
  color:#fff;
  text-align:center;
  clear:both;
  margin:0;
}
.Recharge .sy_btn a, .Recharge .sy_btn a:hover {
  color:#fff;
  font:400 18px/40px  Verdana, SunSans-Regular, Sans-Serif, Arial;
  display:block;
  text-decoration:none;
  padding:0;
}
.Recharge .sy_btn a.endToubiao, .Recharge .sy_btn a.endToubiao:hover {
  color:#fff;
  font:400 18px/40px Verdana, SunSans-Regular, Sans-Serif, Arial;
  display:block;
  text-decoration:none;
  background:#ccc;
  cursor:default;
}
.Recharge .TipDiv .inp #agree{ margin-bottom:2px;}
.infoArea {
  clear:both;
  float:left;
  width:570px;
  padding:10px 0 0 0;
}
.infoArea .info_li {
  float:left;
  width:180px;
  font:400 14px/30px Verdana, SunSans-Regular, Sans-Serif, Arial;
}
.infoArea .info_li .l {
  float:left;
  width:110px;
}
.infoArea .info_li .r {
  font-weight:bold; font-size:16px;
}
.info_li img{ margin-top:20px; margin-right:20px;}

.infoArea .info_long {
  width:230px;
}
.infoArea .info_long .l {
  width:70px;
}
.info_left{ float:left; width:230px; margin:0px;}
.info_right{ float:left; width:240px; margin:0px;}
.infoArea .speed {
  clear:both;
  font:400 14px/30px  Verdana, SunSans-Regular, Sans-Serif, Arial;
}
.infoArea .speed .speedHead {
  float:left;
  width:70px;
}
.infoArea .speedArea {
  float:left; width:250px;
}
.infoArea .speedBarBg {
  width:180px;
  height:14px;
  background:#dcdcdc;
  float:left;
  display:inline;
  margin:8px 10px 0 0;
  overflow:hidden;
}
.infoArea .speedBar {
  width:78%;
  float:left;
  background:#29abe2;
  height:14px;
}
.speedNum{
  display:block;
  float:left;
  width:46px;
  height:14px; line-height:14px; background:url(/assets/new_image/lender/borrower_info/value-bg.png) no-repeat 0 0; color:#fff;
  font-size:12px;
  padding-left:10px;
  margin-top:8px;
  }
.XQbody {
  margin-top:20px;
  clear:both;
  padding:20px 30px;
  border-TOP:1px solid #ebebeb;
}
.XQtabUL {
  /*border-bottom:1px solid #ebebeb;*/
  float:left;
  width:100%;
  margin-bottom:20px;
  background:#f7f7f7;
}
.XQtabUL li{ width:120px; text-align:center;}
.XQtabUL li.on {
  border-top:2px solid #29abe2;
  color:#29abe2;
  font-weight:bold;
  background:#fff;
  border-left:1px solid #ebebeb;
  border-right:1px solid #ebebeb;
}
.XQtabLI {
  float:left;
  font:400 18px/35px  Verdana, SunSans-Regular, Sans-Serif, Arial;
  padding:0 5px;
  margin:0 20px 0 0;
  cursor:pointer;
}
.B_xq {
  clear:both;
}
.B_Record {
  clear:both;
  padding-bottom:30px;
}
.rec_table{ margin-bottom:20px;}
.rec_table td {
  line-height:36px;
  font-size:14px;
  background:#e1e4e9;
}
.rec_table .odd td {
  background:#FAFAFA;
}
.rec_tit td {
  background:#29abe2;
  color:#fff;
}
.rec_1, .rec_4 {
  text-align:center;
  display:block;
}
.rec_3 {
  text-align:right;
  display:block;
  padding-right:50px;
}
.rec_2 {
  text-align:left;
  display:block;
  padding-left:50px;
}
#B_Record {
  display:none;
}
.info_bar {
  border:1px solid #ccc;
  font:400 14px/26px "微软雅黑";
}
.info_bar .tit {
  float:left;
  width:150px;
  padding:10px;
}
.info_bar .con {
  float:right;
  width:740px;
  padding:10px;
  border-left:1px solid #ccc;;
}
.info_bar {
}
.info_user {
  font:400 14px/30px  Verdana, SunSans-Regular, Sans-Serif, Arial;
  padding:0 20px;
  border-bottom:1px solid #ebebeb;
  margin-bottom:20px;

}
.info_user .tit {
  clear:both;
  font-weight:bold;
  font-size:18px;
  margin-bottom:10px;
}
.info_user .info_ul {
  float:left;
  width:300px;
  padding:0 0 20px 0;
  margin-left:50px;
}
.info_user .info_ul .t {
  font-weight:bold;
  display:block;
   float:left;
}
.info_table {
  padding-bottom:20px;
}
.info_table li.trHead {
  background:#29abe2;
  color:#fff;
}
.info_table li.odd {
  background:#fafafa;
}
.info_table .info_tr {
  height:35px;
  background:#f0f0f0;
  border-bottom:1px solid #fff;
  line-height:35px;
  clear:both;
}
.info_table .xm {
  width:30%;
  text-align:center;
  float:left;
  font-weight:400;
}
.info_table .zt {
  width:30%;
  text-align:center;
  float:left;
  font-weight:400;
}
.info_table .rq {
  width:35%;
  text-align:center;
  float:left;
  font-weight:400;
}
.info_ms {
  padding-bottom:20px;
}
.XQloan .XQmain_L {
  width:auto;
  border:0 none;
}
.XQbtnDiv {
  float:right;
}
.XQbtn {
  float:left;
  background:#0188CC;
  height:24px;
  margin-right:5px;
  padding:0 10px;
}
.XQbtn a, .XQbtn a:hover {
  color:#fff;
  text-decoration:none;
}

.info_user .tit span {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0px 10px;
    background: none repeat scroll 0% 0% rgb(59, 175, 218);
    border-radius: 20px;
    color: #FFF;
    font-size: 14px;
  border:1px solid #02709e;
}
.ml10 {
    margin-left: 10px; font-weight:100;
}
.info_rightbtn{ float:left; width:300px; margin-left:20px; }
.info_rightbtn .djs {
  display:block;
  width:32px; 
  height:32px; 
  background:url(/assets/new_image/lender/borrower_info/icons.png) -115px -620px no-repeat;
}

/**未登陆提示**/
.loginmsg{display:block;  width:500px; height:100px; line-height:100px;text-align:center;  margin-left:auto; margin-right:auto; font-size:30px; font-weight:bold;  margin-bottom:200px; font-weight:100;}
.loginmsg a{ color:#2aabe1;font-weight:100;}