@charset "utf-8";
/* CSS Document */


*{ padding:0; margin:0; }




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family:"微软雅黑";
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	min-width:1280px;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* add */
body {font-size:12px;margin:0;padding:0;font-family:"微软雅黑";color:#727171; width:100%; background:#eee;}
body,html{height:100%;}
img{border:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
select,input{vertical-align:middle; padding-left:5px; border:none; color:#000;}
.clear { display:block !important; clear:both !important; float:none !important; margin:0 !important; padding:0 !important; height:0; line-height:0; font-size:0; overflow:hidden;}
.clearfix { zoom:1; }
.clearfix:after { content:""; display:block; clear:both; height:0; }
.spacer{clear:both; font-size:0; height:0; line-height:0;}
a{color:#727171;text-decoration:none;}
b, strong{ font-weight:normal}
img,input,label{vertical-align:middle; font-weight:normal;}
.main{ width:1080px; margin:0 auto;}
/*表单*/  
input[type=button]{/* margin-left:-4px;*/border:none;padding:0;}
input[type=submit]{ padding:0; border:none;color:#fff;}
input[type=radio]{ margin-bottom:5px;}
input[type=checkbox]{ margin-bottom:5px;}
input:focus, select:focus{outline: none;}
label.error{ padding-left:10px; color:#d30000; font-weight:normal; font-size:12px; margin-top:5px;}
.form-control.error {border: 1px solid #d30000;}
.placeholder-color::-webkit-input-placeholder { color:#c9caca; }
.placeholder-color::-moz-placeholder { color:#c9caca; }
/*进度条*/
.progress{ width:160px; height:4px; margin:0 auto; }
.progress-bar-success{ background:#f59503;}
/*橙色按钮*/
.btn-color{  height:33px; line-height:31px; text-align:center; display:block; font-size:16px; margin:0 auto;}
.btn-color1{border:1px solid #f5950a; width:150px; color:#f4950a;}
.btn-color1:hover, .btn-color2{ background:#f59503; color:#fff;}
/*灰色按钮*/
.btn-color3{ background:#d2d2d2; color:#fff;width:150px; }
/*紫色色按钮*/
.btn-color4{ background:#6c5eef;color:#fff;}
/*红色按钮*/
.btn-color5{ background:#e54e3f;color:#fff;}
/*阴影*/
.box-shadow:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
/*圆角*/
.border-radius{ border-radius:5px;}
/*头部*/
span.line{width: 1px;height: 14px;float: left;margin-top:8px;background: #9f9f9f;overflow: hidden;padding: 0;}
.header .header-main1{ height:30px; background:#313131; line-height:30px;}
.header .header-main1 a{ color:#9fa0a0;}
.header .header-main1 a:hover{ color:#f5950a;}
.header .header-main1 li{ margin-right:16px; float:left;}
.header .header-main1 .header-main1-right li.return-old{ background:url(../images/index/return.png) no-repeat; width:97px; height:20px; line-height:20px; padding-left:10px;margin-top:5px;}
.header .header-main1 .header-main1-right li.return-old a{ color:#fff;}
.header .header-main2{ background:#fff; height:72px; line-height:72px;}
.header .header-main2 .header-main2-nav li{float:left; font-size:18px; height:72px; margin-left:32px;}
.header .header-main2 .header-main2-nav li a{ color:#3d3b3c; display:block;height:72px;padding:0 12px;}
.header .header-main2 .header-main2-nav li a:hover{ color:#f5950b;}
.header .header-main2 .header-main2-nav li.hover a{ color:#f5950b;border-bottom:5px solid #f5950b;}
.icon{ background:url(../images/common/icon.png) no-repeat; display:inline-block;}
.header .header-main1 span.icon{ vertical-align:sub; margin-right:7px;}
.header .header-main1 .icon-app{ background-position:0 0; width:11px; height:16px;}
.header .header-main1 .icon-follow{ background-position:-14px 0; width:16px; height:16px;}
.header .header-main1 .icon-telephone{ background-position:-32px 0; width:17px; height:16px;}
.header .header-main1 .icon-account{ background-position:-52px 0; width:19px; height:16px;}
.header .header-main1 .icon-account.hover{ background-position:-52px -18px; width:19px; height:16px;}
.header .header-main1 .icon-arrow{ background-position:-74px 0; width:10px; height:16px; margin-left:7px;vertical-align:sub;}

/*尾部*/
.footer{ margin-top:58px;}
.footer-main1{ background:#434343; padding-bottom:20px;color:#a0a0a0; font-size:16px;}
.footer-main1 a{ color:#a0a0a0}
.footer-main1 .main span.line{ height:100px; margin-top:79px;}
.footer-main1 .footer-main1-left{ margin-top:79px;}
.footer-main1 .footer-main1-left li{ margin-bottom:28px; margin-right:60px;}
.footer-main1 .footer-main1-middle{ padding:0px 60px;margin-top:79px;}
.footer-main1 .footer-main1-middle dt{ font-weight:normal;}
.footer-main1 .footer-main1-right{ margin-top:42px;}
.footer-main1 .footer-main1-right p{ width:127px; margin-right:44px;}
.footer-main1 .footer-main1-right p img{ margin-top:15px;}
.footer-main2{ background:#313131; height:115px; color:#a0a0a0; font-size:16px; overflow:hidden;}
.footer-main1 .footer-main1-href{ border-top:1px solid #9f9f9f; padding-top:13px; margin-top:20px;}
.footer-main1 .footer-main1-href a{ margin-left:20px; display:block; float:left; margin-bottom:10px;}
.footer-main2 p{ margin-top:20px;}
.footer-main2 img{ margin-right:20px;}
/*翻页*/
.pagination-center{ text-align:center; font-size:14px; margin-top:20px; margin-bottom:20px;}
.pagination li a{ color:#666;}
/*弹窗*/
.transparent-back{ position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(40,40,40,0.3); display:none;}
/*标*/
.font-color{ color:#9fa0a0;}
.new-product-bidding{background:#fff;position:relative}
.new-product-bidding .newpro-bidding-img{position:absolute; left:0; top:-30px;}
.new-product-bidding .product-bidding-href{ display:block; width:100%; height:100%; position:absolute; top:0; left:0;}
.product-bidding .progress-bar-number{ margin-top:17px;}
.product-bidding .product-bidding-explain{ margin-top:11px;}
.product-bidding .product-bidding-right{ background:#fff; border-top-right-radius:5px; border-bottom-right-radius:5px; position:relative;}
.product-bidding .product-bidding-right .product-bidding-href{ display:block; width:985px; height:120px; position:absolute; top:0; left:0;}
.product-bidding .product-bidding-left{border-top-left-radius:5px; border-bottom-left-radius:5px; color:#fff;}
.gradient-orange{ background: -webkit-linear-gradient(#f5b538, #f4950a); background: -o-linear-gradient(#f5b538, #f4950a); background: -moz-linear-gradient(#f5b538, #f4950a);background: linear-gradient(#f5b538, #f4950a); }
.gradient-blue{ background: -webkit-linear-gradient(#6193f3, #7145ed); background: -o-linear-gradient(#6193f3, #7145ed); background: -moz-linear-gradient(#6193f3, #7145ed);background: linear-gradient(#6193f3, #7145ed); }
.gradient-red{ background: -webkit-linear-gradient(#f3a193, #e7462a); background: -o-linear-gradient(#f3a193, #e7462a); background: -moz-linear-gradient(#f3a193, #e7462a);background: linear-gradient(#f3a193, #e7462a); }
.gradient-green{ background: -webkit-linear-gradient(#9fea64, #5ecb60); background: -o-linear-gradient(#9fea64, #5ecb60); background: -moz-linear-gradient(#9fea64, #5ecb60);background: linear-gradient(#9fea64, #5ecb60); }
.gradient-pink{ background: -webkit-linear-gradient(#fcae9a, #fa714e); background: -o-linear-gradient(#fcae9a, #fa714e); background: -moz-linear-gradient(#fcae9a, #fa714e);background: linear-gradient(#fcae9a, #fa714e); }
.product-bidding .product-bidding-right .product-bidding-name{ font-size:14px;position: absolute;left: 30px;top: 15px;width: 100%;}
.product-bidding .product-bidding-right .product-bidding-name a{ display:block;}
.product-bidding .product-bidding-right .product-bidding-details{ margin-left:30px; height:60px;margin-top: 40px;}
.product-bidding .product-bidding-right .product-bidding-details > div{ height:50px; border-right:1px solid #c9c9c9; margin-top:5px;}
.product-bidding .product-bidding-right .product-bidding-details > div:last-child{ border-right:none; margin-top:0; height:60px;}
.product-bidding .product-bidding-right .product-bidding-details .product-bidding-profit li{margin-right:10px;}
.product-bidding .product-bidding-right .product-bidding-details .product-bidding-profit li span{ font-size:20px;}
.product-bidding .product-bidding-right .product-bidding-details .product-bidding-profit li span b{ font-size:30px;}
.product-bidding .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-money, .product-bidding .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-price, .product-bidding .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-number { margin-top:5px;}
.product-bidding .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-money span b, .product-bidding .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-price span b, .product-bidding .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-number span b{ font-size:25px;}
.product-bidding .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-rate .product-bidding-rate1 span{ color:#f4950a;}
.product-bidding .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-trem .product-bidding-trem1 span, .product-bidding .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-money .product-bidding-money1 span{ color:#727171;}
.product-bidding .product-bidding-right .product-bidding-details .product-bidding-progress .progress{margin-top:18px;}
.product-bidding .product-bidding-right .product-bidding-details .product-bidding-btn .btn-color {position: absolute;right: 40px;z-index:1;}
.product-bidding .product-bidding-right .product-bidding-details .product-bidding-btn .product-bidding-explain{ margin-top:47px;}
.new-product-bidding.hover{box-shadow: 0px 0px 15px #ccc;}
/*已完成*/
.completed-btn{ width:80px; height:30px; line-height:30px; text-align:center; font-size:14px; background:#c7c7c7;}
.completed-btn a{ display:inline-block; color:#777777;background:#c7c7c7;}


/*弹窗*/
.transparent-back{ position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(40,40,40,0.3); display:none;}
.popups{ background:#fff; position:fixed; /*left:50%; top:50%;*/ border-radius:10px;}
.popups h1{ text-align:center; color:#fff; background:#f69503; font-size:24px; height:60px; line-height:60px; border-top-left-radius:10px;border-top-right-radius:10px;}
.popups h1 b{ display:block; position:absolute; right:45px; top:24px; background:url(../images/after-login/icon.png) no-repeat; width:20px; height:20px; background-position:-491px -697px;}

/*icon*/
.small-icon{display:inline-block; }
.small-icon b{ display:inline-block;background:url(../images/after-login/icon.png) no-repeat; height:21px; margin-left:3px;vertical-align: middle}
.small-icon .dan-icon{ background-position:-98px -335px; width:20px;}
.small-icon .trade-icon{ background-position:-95px -403px;width:42px;}
.small-icon .xinda-icon{ background-position:-95px -379px;width:26px;}
.small-icon .a-icon{ background-position:-98px -357px;width:20px; text-align:center; line-height:20px; color:#fff;}
.small-icon .dunpai-icon{ background-position:-125px -334px;width:19px;}
.small-icon .diya-icon{ background-position:-125px -380px;width:20px;}
.small-icon .xin-icon{ background-position:-2px -176px;width:20px;}
.small-icon .oil-icon{ background-position:-154px -391px;width:21px;}
.small-icon .baoxian-icon{ background-position:-344px -980px;width:20px;}
.small-icon .fuqi-icon{ background-position:-370px -980px;width:20px;}
.small-icon .lianhe-icon{ background-position:-395px -980px;width:20px;}
.small-icon .fengxian-icon{ background-position:-421px -980px;width:20px;}
.small-icon .jiaoyisuo-icon{ background-position:-448px -980px;width:20px;}
.small-icon .daikuan-icon{ background-position:-474px -980px;width:20px;}
.small-icon .coupon-icon{ background-position:-440px -696px;width:20px;}
.small-icon .jiangli-icon{ background-position:-500px -980px;width:20px;}
/*计算*/
.counter-main{ width:1000px; margin:90px auto 0;}
.counter-main > div{ margin-bottom:30px;}
.counter-main1 input, .counter-main1 select{ width:120px;}
.counter-main1 #counter-submit{ display:inline-block;}
.counter-main1 span{ margin-right:24px;}
.counter-main2{ background:#f6ebda; padding:32px 0; font-size:14px;}
.counter-main2 p span{ margin-right:30px;}
.counter-main3 h1{ font-size:18px; color:#666; margin-bottom:20px;}

/*定位窗口*/
.position-window{ position:fixed; bottom:15px; right:0; right:15px\0; width:68px; z-index:100;}
.position-window li{width:68px; height:68px;margin-bottom:6px; position:relative;}
.position-window li.weixin-icon{ background-position:-156px 0;}
.position-window li.app-icon{background-position:-156px -75px;}
.position-window li.qq-icon{ background-position:-156px -148px;}
.position-window li.return-icon{  background-position:-228px -222px;}
.position-window .weixin-icon:hover{ background-position:-228px 0;}
.position-window .app-icon:hover{background-position:-228px -75px;}
.position-window .qq-icon:hover{ background-position:-228px -148px;}
.position-window .return-icon:hover{  background-position:-156px -222px;}
.position-window li .position-window-popup{ background:#fff; position:absolute; right:75px;}
.position-window li.weixin-icon .position-window-popup, .position-window li.app-icon .position-window-popup{ width:144px; height:144px;}
.position-window li.weixin-icon .position-window-popup img, .position-window li.app-icon .position-window-popup img{ margin-top:9px; width:127px; height:126px;}
.position-window .position-window-arrow{ position:absolute; top:0; right:67px; width:8px; height:144px;}
.position-window .position-window-arrow b.icon{ background-position:-93px 0; width:8px; height:15px; margin-top:29px;}
.position-window li > div{ display:none;}
.position-window li.qq-icon .position-window-popup{ width:220px; height:106px;}
.position-window li.qq-icon .position-window-popup a{ display:block; width:198px; height:38px; line-height:38px; color:#fff; font-size:14px; background:#ff9a07; margin:10px auto;}
.fl{ float:left}
.fr{ float:right}

.bg-icon{background:url(../images/after-login/icon.png) no-repeat;}
/*银行卡背景*/
.bg-bank-big, .bg-bank-small{background:url(../images/after-login/bank-img.png) no-repeat; color:#fff; position:relative;}
.bg-bank-big{width:270px; height:172px;}
.bank-big-ICBC{ background-position:-293px -481px;}
.bank-big-ABC{ background-position:-1450px -672px;}
.bank-big-BOC{ background-position:-2px -482px;}
.bank-big-CCB{ background-position:-581px -482px;}
.bank-big-CMB{ background-position:-870px -482px;}
.bank-big-SPDB{ background-position:-1161px -672px;}
.bank-big-CEB{ background-position:-291px -672px;}
.bank-big-HXB{ background-position:-871px -672px;}
.bank-big-CIB{ background-position:-1451px -482px;}
.bank-big-CITIC{ background-position:-291px -864px;}
.bank-big-PSBC{ background-position:-3px -672px;}
.bank-big-CMBC{ background-position:-581px -672px;}
.bank-big-GDB{ background-position:-3px -864px;}
.bank-big-CIB{ background-position:-1160px -482px;}
.bank-big-BOB{ background-position:-581px -864px;}
.bank-big-PAB{ background-position:-872px -864px;}
.bank-big-BEA{ background-position:-1160px -864px;}

.bg-bank-small{width:270px; height:132px;}
.bank-small-ICBC{ background-position:-292px -9px;}
.bank-small-ABC{ background-position:-1451px -672px;}
.bank-small-BOC{ background-position:-4px -9px;}
.bank-small-CCB{ background-position:-581px -9px;}
.bank-small-CMB{ background-position:-871px -9px;}
.bank-small-SPDB{ background-position:-1161px -161px;}
.bank-small-CEB{ background-position:-291px -161px;}
.bank-small-HXB{ background-position:-871px -161px;}
.bank-small-CIB{ background-position:-1451px -9px;}
.bank-small-CITIC{ background-position:-291px -313px;}
.bank-small-PSBC{ background-position:-4px -161px;}
.bank-small-CMBC{ background-position:-581px -161px;}
.bank-small-GDB{ background-position:-4px -313px;}
.bank-small-CIB{ background-position:-1161px -9px;}
.bank-small-BOB{ background-position:-581px -313px;}
.bank-small-PAB{ background-position:-872px -313px;}
.bank-small-BEA{ background-position:-1160px -313px;}

/*投资记录*/
.record-list .record-list-main li{ float: left;height: 40px;line-height: 40px;text-align: center;margin-left: 1px;}
.record-list .record-list-main ol li{ background:#f69503; color:#fff; }
.record-list .record-list-main ul{color: #333;font-size: 12px;margin-top: 9px; height:40px;}
.record-list .record-list-main ul.record-list-main1{background: #fafafa;}
.record-list .record-list-main ul.record-list-main2{ border:1px solid #e5e5e5;}
.record-list .record-list-main ul.hover{background: #f2f2f2;}

/**/
.num_box a{ display:inline-block; width:30px; text-align:center; height:30px; line-height:30px;border:1px solid #ccc;cursor:pointer; color:#333; font-size:18px;}
.num_box .num{height:30px; line-height:30px;border:1px solid #ccc; width:53px; margin-bottom:9px; text-align:center; padding:0;}
.num_box a.J_jian{ margin-right:5px;}
.num_box a.J_jia{ margin-left:5px;}

/*暂无记录*/
.no-login-record{ font-size:24px;color:#a7a5a5; margin:50px auto; }
.no-login-record a{color:#a7a5a5;}
.no-login-record span.bg-icon{display:inline-block; margin-right:20px; vertical-align:middle;}

/*loading*/
.sk-fading-circle {width:36px;height:36px;position:relative; display:inline-block; vertical-align:middle; }
.sk-fading-circle .sk-circle {width: 100%;height: 100%; position: absolute;left: 0;top: 0; }
.sk-fading-circle .sk-circle:before {content: '';display: block;margin: 0 auto;width: 15%;height: 15%;background-color: #333;border-radius: 100%;-webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;animation: sk-circleFadeDelay 1.2s infinite ease-in-out both; }
.sk-fading-circle .sk-circle2 {-webkit-transform: rotate(30deg);-ms-transform: rotate(30deg);transform: rotate(30deg); }
.sk-fading-circle .sk-circle3 {-webkit-transform: rotate(60deg);-ms-transform: rotate(60deg);transform: rotate(60deg); }
.sk-fading-circle .sk-circle4 {-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg); }
.sk-fading-circle .sk-circle5 {-webkit-transform: rotate(120deg);-ms-transform: rotate(120deg);transform: rotate(120deg); }
.sk-fading-circle .sk-circle6 {-webkit-transform: rotate(150deg);-ms-transform: rotate(150deg);transform: rotate(150deg); }
.sk-fading-circle .sk-circle7 {-webkit-transform: rotate(180deg); -ms-transform: rotate(180deg);transform: rotate(180deg); }
.sk-fading-circle .sk-circle8 {-webkit-transform: rotate(210deg);-ms-transform: rotate(210deg);transform: rotate(210deg); }
.sk-fading-circle .sk-circle9 {-webkit-transform: rotate(240deg);-ms-transform: rotate(240deg);transform: rotate(240deg); }
.sk-fading-circle .sk-circle10 {-webkit-transform: rotate(270deg);-ms-transform: rotate(270deg);transform: rotate(270deg); }
.sk-fading-circle .sk-circle11 {-webkit-transform: rotate(300deg);-ms-transform: rotate(300deg);transform: rotate(300deg); }
.sk-fading-circle .sk-circle12 {-webkit-transform: rotate(330deg);-ms-transform: rotate(330deg);transform: rotate(330deg); }
.sk-fading-circle .sk-circle2:before {-webkit-animation-delay: -1.1s;animation-delay: -1.1s; }
.sk-fading-circle .sk-circle3:before {-webkit-animation-delay: -1s;animation-delay: -1s; }
.sk-fading-circle .sk-circle4:before {-webkit-animation-delay: -0.9s;animation-delay: -0.9s; }
.sk-fading-circle .sk-circle5:before {-webkit-animation-delay: -0.8s;animation-delay: -0.8s; }
.sk-fading-circle .sk-circle6:before {-webkit-animation-delay: -0.7s;animation-delay: -0.7s; }
.sk-fading-circle .sk-circle7:before {-webkit-animation-delay: -0.6s;animation-delay: -0.6s; }
.sk-fading-circle .sk-circle8:before {-webkit-animation-delay: -0.5s;animation-delay: -0.5s; }
.sk-fading-circle .sk-circle9:before {-webkit-animation-delay: -0.4s;animation-delay: -0.4s; }
.sk-fading-circle .sk-circle10:before {-webkit-animation-delay: -0.3s;animation-delay: -0.3s; }
.sk-fading-circle .sk-circle11:before {-webkit-animation-delay: -0.2s;animation-delay: -0.2s; }
.sk-fading-circle .sk-circle12:before {-webkit-animation-delay: -0.1s;animation-delay: -0.1s; }
@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0.2; }
  40% {
    opacity: 1; } 
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0.2; }
  40% {
    opacity: 1; } 
}
