@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
.help-center-banner{ height:380px; background:url(../images/help.jpg) no-repeat center;}
.help-center-main{ width:1080px; margin:0 auto; color:#707271;}
.help-center-main h1, .help-center-main .help-center-main2 h2{font-size:24px; color:#3e3a3a; margin-bottom:30px; margin-top:40px;}
.help-center-table{ background:#fff;padding-bottom: 30px;}
.help-center-table ol{height:60px; line-height:60px;border-bottom: 1px solid #e5e5e5; padding-left:40px;}
.help-center-table ol li{ float:left; width:68px; text-align:center; font-size:16px;}
.help-center-table ol li a{display:block; height:60px; width:68px;}
.help-center-table ol li a.hover{ color:#f69503; border-bottom:3px solid #f69503;}
.hece-table-main{ padding-top:30px; width:985px; margin:0 auto;}
.hece-table-main ul li{ margin-bottom:38px;}
.hece-table-main ul li h2{ font-size:14px; cursor:pointer; padding-left:10px;border-left:3px solid #fff; }
.hece-table-main ul li h2:hover{border-left:3px solid #f69503;padding-left:10px;}
.hece-table-main ul li h2 span{ color:#f69503; float:right;}
.hece-table-main ul li h2 span.help-close{ display:none;}
.hece-table-main ul li .help-open-main{ margin-top:12px;color:#949494;  margin-left:29px; font-size:12px; line-height:37px; display:none;}
.help-center-main .help-center-main2 h2{ font-size:20px;}

/*联动优势帮助中心*/
.ump-help-banner{ height:380px; background:url(../images/ump-help/banner.jpg) no-repeat center;}
.ump-help-main > div{ background:#fff; margin-top:30px;}
.ump-help-center{ padding:50px 84px; }
.ump-help-main h1{ font-size:30px; font-weight:bold; color:#fff; line-height:80px; height:80px; border-top-left-radius:5px;border-top-right-radius:5px;}
.ump-help-main1 .umhe-main1-center1 dl{ margin-top:20px; }
.ump-help-main1 .umhe-main1-center1 dl dt, .ump-help-main1 .umhe-main1-center1 dl dd, .ump-help-main2 dl dt, .ump-help-main2 dl dd{ width:438px; font-weight:normal;}
.ump-help-main1 .umhe-main1-center1 dl h2{ color:#f39426; font-size:24px; margin-top:80px; margin-bottom:26px;}
.ump-help-main1 .umhe-main1-center1 dl h2 span{ display:inline-block; width:38px; height:38px; text-align:center; line-height:34px; border:2px solid #f39426; border-radius:50%; margin-right:7px;}
.ump-help-main1 .umhe-main1-center1 dl p{ margin-left:45px; line-height:18px;font-size:14px;}
.ump-help-main1 .umhe-main1-center2{ border:2px solid #eeeeee; padding:0 25px 25px; margin-top:45px;}
.ump-help-main1 .umhe-main1-center2 h2, .ump-help-main4 .ump-help-center .umhe-main4-center1 h2{ font-size:20px; height:49px; line-height:48px; border-bottom:1px solid #c9c9c9; margin-top:6px;}
.ump-help-main1 .umhe-main1-center2 .ump-help-recharge li{ background:#f2f2f2; width:254px; height:175px; margin-left:48px; margin-top:20px; padding-top:5px;}
.ump-help-main1 .umhe-main1-center2 .ump-help-recharge li:first-child, .ump-help-main1 .umhe-main1-center2 .ump-help-recommend li:first-child{ margin-left:0;}
.ump-help-main1 .umhe-main1-center2 .ump-help-recharge li p{ margin-left:40px; margin-top:16px; font-size:14px;}
.ump-help-main1 .umhe-main1-center2 .ump-help-recommend li{ border:2px solid #eeeeee; width:254px; height:110px; padding:17px 20px; margin-left:48px; margin-top:20px; font-size:16px;}
.ump-help-main1 .umhe-main1-center2 .ump-help-recommend li img{ margin-bottom:13px;}
.ump-help-main1 .umhe-main1-center3 a{ width:390px; margin:37px auto; color:#fff; font-size:24px; height:50px; line-height:50px; background:#f39426; display:block;}
.ump-help-main2 dl dd{ padding-top:66px; font-size:14px; line-height:18px;}
.ump-help-main2 dl dd p{ margin-bottom:20px;}
.ump-help-main3 .umhe-main3-center1{ font-size:24px; color:#333333;}
.ump-help-main3 .umhe-main3-center2{ background:#f2f2f2; margin-top:30px; padding:27px 44px;}
.ump-help-main4 .ump-help-center .umhe-main4-center1 h2{ color:#333333;}
.ump-help-main4 .ump-help-center .umhe-main4-center1{ border:2px solid #eeeeee; padding:10px 22px 22px;}
.ump-help-main4 .ump-help-center .umhe-main4-center1 dl{ margin-top:24px;}
.ump-help-main4 .ump-help-center .umhe-main4-center1 dl dt{ color:#333333; font-size:14px; margin-bottom:5px; margin-top:5px;}

.help-center-link a, .ump-help-link a{ display:block; margin-top:30px;}