@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
a:hover, .index-notice .index-notice-time a:hover, .index-product .index-scattered h2 p a:hover{ color:#f5950a;}
.index-banner{height:380px; width:100%; position:relative; z-index:0;}
.flexslider{position:relative;height:380px;overflow:hidden; width:100%;margin:0 auto; float:left}
.slides{position:relative;}
.slides li{height:380px;}
.slides li a{width:100%;height:380px;display:inline-block;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%; left:492px;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../images/index/dot.png) right 0 no-repeat;cursor:pointer;}
.flex-control-nav .flex-active{background-position:0 0;}
.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.index-banner .main{height:380px; position:relative;margin:0 auto;}
.banner-login{ background:rgba(244,149,10,0.9); width:320px; height:270px; position:absolute; top:55px; right:0; z-index:100;}
.banner-login .not-login{ padding:44px 50px 0;}
.banner-login .not-login h1{ font-size:44px; color:#f8f6dc; }
.banner-login .not-login h1 p{ font-size:20px;}
.banner-login .not-login p{ margin-top:22px;}
.banner-login .banner-login-btn a{ display:block; background:#faf6e1;height:40px; line-height:40px; color:#f4950a; font-size:20px; text-align:center;}
.banner-login .not-login .banner-login-btn a{ width:100%;}
.banner-login .not-login .not-login-main{ color:#fff; font-size:16px;}
.banner-login .already-login{padding:36px 40px 0; color:#fff;}
.banner-login .already-login .already-login-head{ background:#fff; width:85px; height:85px; border-radius:50%; line-height:82px; margin:0 auto; }
.banner-login .already-login .already-login-head img{ border-radius:50%; width:80px; height:80px;}
.banner-login .already-login .already-login-name{ font-size:14px; margin:15px 0 30px 0;}
.banner-login .already-login .banner-login-btn a{ width:110px; margin-top:10px;}
.index-notice{ height:30px; background:#fff; line-height:30px; border-bottom:1px solid #c9c9c9; font-size:14px;}
.index-notice .index-notice-main span.icon{ background-position:0 -20px; width:16px; height:13px; margin-right:8px; vertical-align:baseline;}
.index-notice .index-notice-time a{ color:#9fa0a0; margin-left:43px;}
.index-resource{ background:#fff; padding:40px 0;}
.index-resource dl{ margin-left:95px;}
.index-resource dl:first-child{ margin-left:0;}
.index-resource dt{ margin-right:10px; width:58px; }
.index-resource dt p{ font-size:18px; color:#595757; margin-top:10px;}
.index-resource dd p{color:#9fa0a0; line-height:20px; margin-top:5px;}
.new-product-bidding{height:140px; width:800px;}
.new-product-bidding .newpro-bidding-img{ background:url(../images/common/newprocuct.png) no-repeat; width:212px; height:171px;}
.new-product-bidding > div{ height:60px; border-right:1px solid #c9c9c9; margin-top:40px; line-height:60px;}
.new-product-bidding .newpro-bidding-profit{ width:380px; margin-left:200px; font-size:14px;}
.new-product-bidding .newpro-bidding-profit p span{ padding-left:12px;vertical-align: -webkit-baseline-middle;}
.new-product-bidding .newpro-bidding-profit p span b{ font-size:40px;}
.new-product-bidding .newpro-bidding-profit p:first-child{ margin-right:9px;}
.new-product-bidding .newpro-bidding-progress{ width:260px;}
.new-product-bidding .newpro-bidding-progress .progress{ margin-top:28px; margin-bottom:5px;}
.new-product-bidding .newpro-bidding-progress p{ line-height:25px; font-size:14px;}
.new-product-bidding .newpro-bidding-btn{ width:217px;}
.new-product-bidding .newpro-bidding-btn p:first-child{margin-top:14px;}
.new-product-bidding .newpro-bidding-btn .btn-color{ position:absolute; right:37px;}
.new-product-bidding .newpro-bidding-btn p.product-bidding-explain{ line-height:27px; margin-top:45px;}
.index-product .new-product-bidding{ margin-top:50px;}
.index-product .title{ color:#3e3a3a; line-height:90px;}
.index-product h2 p b{ font-size:24px; letter-spacing:0.5em;}
.index-product h2 p span{height:20px; margin-top:35px; margin-left:10px;}
.index-product h2 p strong{font-size:16px; padding-left:15px;vertical-align: -webkit-baseline-middle;}
.index-product h2 p a{font-size:14px; color:#9fa0a0;}
.index-scattered .product-bidding{ margin-bottom:25px; height:120px;}
.index-scattered .product-bidding:last-child{ margin-bottom:0;}
.index-scattered .product-bidding.hover{ box-shadow: 0px 0px 15px #ccc;}
.index-scattered .product-bidding-left{ width:95px; height:120px;}
.index-scattered .product-bidding-left .product-bidding-icon{ font-size:18px; line-height:27px;margin-top:33px; margin-bottom:10px;}
.index-scattered .product-bidding-left .product-bidding-icon span.icon{ width:26px; height:26px;}
.index-scattered .invest-beacon-product .product-bidding-left .product-bidding-icon span.icon{ background-position:0 -163px;}
.index-scattered .invest-trade-product .product-bidding-left .product-bidding-icon span.icon{ background-position:-28px -163px;}
.index-scattered .invest-move-product .product-bidding-left .product-bidding-icon span.icon{ background-position:-56px -163px;}
.index-scattered .product-bidding-left .product-bidding-white{ background:url(../images/invest/white.png) no-repeat; height:6px; width:67px; margin:0 auto;}
.index-scattered .product-bidding-right{ width:985px; height:120px;}
.index-scattered .product-bidding-right > div:last-child{ border-bottom:none;}
.index-scattered .product-bidding-right .product-bidding-details .product-bidding-profit{ width:490px;}
.index-scattered .invest-move-product .product-bidding-right .product-bidding-details .product-bidding-profit{ width:722px;}
.index-scattered .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-rate{ width:136px;}
.index-scattered .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-term{ width:111px; text-align:center;}
.index-scattered .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-money{ width:190px; text-align:center;}
.index-scattered .invest-move-product .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-price{width:130px;}
.index-scattered .invest-move-product .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-number{width:100px;}
.index-scattered .product-bidding-right .product-bidding-details .product-bidding-progress{ width:230px;}
.index-scattered .product-bidding-right .product-bidding-details .product-bidding-btn{ width:230px;}
.index-scattered .invest-move-product{ position:relative}
.index-scattered .invest-move-product .invest-move-prompt{ background:url(../images/index/prompt2.png) no-repeat; width:58px; height:59px; position:absolute; right:0; top:0;}
.index-scattered .invest-move-product .invest-move-prompt b{ font-size:12px;display: block;transform: rotate(45deg);-ms-transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg);-o-transform: rotate(45deg);margin-top: 16px;margin-left: 9px; color:#fff;}
.invest-move-product .product-bidding-right .product-bidding-details > div{ border-right:none;}
.index-news > div{ width:575px; height:412px; background:#fff; margin-top:39px;}
.index-news .index-news-head{ font-size:20px; border-bottom: 1px solid #ccc;padding: 20px;}
.index-news .index-news-head a{padding: 0 5px 15px;color:#3e3a3a; margin-right:10px}
.index-news .index-news-head a.hover{ border-bottom: 3px solid #f6950a;}
.index-news .index-news-left .index-news-main > div{ display:none;}
.index-news .index-news-main dl{ padding:32px 20px 18px; height:160px;}
.index-news .index-news-main dl dt{ width:210px;}
.index-news .index-news-main dl dt img{ width:210px; height:110px;}
.index-news .index-news-main dl dd{ width:304px; line-height:20px;}
.index-news .index-news-main dl dd .index-news-title{ font-size:16px; color:#3e3a3a; margin-bottom:10px;}
.index-news .index-news-main dl dd .index-news-details{font-size:14px;}
.index-news .index-news-main ol{ border-top:1px solid #dbdbdb;}
.index-news .index-news-main ol li{ padding:0 20px; height:45px; line-height:45px;font-size:16px;}
.index-news .index-news-main ol li a{ display:block; height:45px;}
.index-news .index-news-main ol li a span.pull-left{color: #333233;}
.index-news .index-news-main ol li a:hover, .index-news .index-news-main ol li a:hover span.pull-left, .index-news .index-news-more a:hover{ color:#f6950a;}
.index-news .index-news-main ol li b{ display:inline-block; border-radius:50%; width:5px; height:5px; background:#333233;vertical-align: middle; margin-right:6px;}
.index-news .index-news-more{ padding-right:20px; margin-top:18px;}
.index-news .index-news-more a{ font-size:20px; color:#333233;}
.index-news .index-news-right{ width:497px;}
.index-news .index-news-right .index-news-main ol{ border-top:none; margin-top:20px;}
.index-news .index-news-right .index-news-main ol li{border-top:1px solid #dbdbdb; margin-top:0;}
.index-news .index-news-right .index-news-main ol li:first-child{ border-top:none;}
.index-partner h3{ font-size:20px;}
.index-partner-bg{ background:#fff; padding-bottom:30px;overflow:hidden;}
.index-partner-bg .index-partner-center{ width:1016px; margin:37px auto 0;}
.index-partner-bg .index-partner-center .index-partner-profile > div{ width:219px; margin-left:46px;}
.index-partner-bg .index-partner-center .index-partner-profile .inpar-profile-main1{ height:83px; line-height:83px;}
.index-partner-bg .index-partner-center .index-partner-profile .inpar-profile-main2{ line-height:px; margin-top:13px; line-height:25px;}
.silder-box{position:relative;height:57px; margin-top:60px}
.silder{margin:0 auto 0;}
.silder li img{width:149px;height:54px; border:1px solid #d0d0d0;}
.silder-button{top:15px;width:13px;height:26px;position:absolute;cursor:pointer;}
.silder-button.btl{left:0px;background:url(../images/index/left-btn.png) no-repeat;}
.silder-button.btr{right:0px;background:url(../images/index/right-btn.png) no-repeat;}
.silder-box-1{width:1016px;}

/*tanchuang*/
.new-explain-popup{ position:fixed; left:50%; top:50%; width:792px; height:793px;margin-left:-396px; margin-top:-396px; color:#fff; font-size:14px; }
.new-explain-popup .neex-popup-main{ background:url(../images/index/popup1.png) no-repeat; width:793px; height:793px; position:relative}
.new-explain-popup .neex-popup-main .neex-popup-img{ width:309px; height:339px;position:absolute; left:-50px; bottom:28px;}
.new-explain-popup .neex-popup-main .neex-popup-close img{ width:80px; height:81px;position:absolute; right:62px; top:103px;}
.new-explain-popup .neex-popup-main .neex-popup-explain{ padding-top:70px; width:450px; margin:0 auto; line-height:25px;}
.new-explain-popup .neex-popup-main .neex-popup-explain h1{ font-weight:bold; font-size:22px; padding-right:20px; margin-top:44px;}
.new-explain-popup .neex-popup-main .neex-popup-explain b{ font-weight:bold; font-size:15px; }
.new-explain-popup .neex-popup-main .neex-popup-explain .neex-popup-explain1{ margin:40px auto 30px; font-size:16px;}
.new-explain-popup .neex-popup-main .neex-popup-explain h2 b{ font-size:18px;}
.new-explain-popup .neex-popup-main .neex-popup-explain h2{ margin-bottom:20px;}
.new-explain-popup .neex-popup-main .neex-popup-explain ol li{ border:1px solid #fff; width:450px; border-radius:50px; height:50px; line-height:23px; margin-bottom:15px; position:relative; padding:0 15px;}
.new-explain-popup .neex-popup-main .neex-popup-explain ol li .neex-popup-number{ background:#fff; border-radius:50%; width:30px; height:30px; line-height:30px; text-align:center; color:#f70013; font-weight:bold; font-size:18px; position:absolute; left:-10px; top:10px;}
.new-explain-popup .neex-popup-main .neex-popup-explain .neex-popup-explain2{ margin:50px auto; font-size:20px; font-weight:bold;}
.new-explain-popup .neex-popup-main .neex-popup-explain .neex-popup-explain3{ margin-top:20px; font-size:16px;}

.invest-fixed-bidding .invest-plan-product{ margin:0;}
.index-video{ background:#fff; width:240px; height:140px; margin-top:50px;}
.index-video img{ margin-top:10px;}
.index-video-popup{ position:fixed; top:50%; left:50%; background:rgba(255, 255, 255, 0.3); width:920px; height:526px; margin-left:-460px; margin-top:-263px; border-radius:8px;}
.index-video-popup .video-popup-main{ background:#000; width:900px; height:506px; margin:10px;border-radius:6px; position:relative;}
.index-video-popup .video-popup-main .video-popup-close{ position:absolute; right:-19px; top:-13px; width:25px; height:25px; background-position:-514px -695px;}

/*首页落地页*/
.advertised-page-header{ height:68px; background:#fff;}
.advertised-page-header .adpa-header-logo{ margin-top:6px;}
.advertised-page-header .adpa-header-img{ margin-top:12px; margin-left:26px;}
.advertised-page-header .adpa-header-nav{ line-height:68px;}
.advertised-page-header .adpa-header-nav li{ float:left; font-size:18px; margin-right:20px;}
.advertised-page-header .adpa-header-nav li a{ color:#333333;}
.advertised-page-header .adpa-header-nav li span.line{ height:20px; background:#333; margin-top:24px;}
.advertised-page-register{width:320px; height:358px; position:absolute; top:0; right:0; z-index:100;}
.advertised-page-register .advertised-page-register1{ width:230px; height:18px; margin:0 auto;}
.advertised-page-register .advertised-page-register1 p{ background:url(../images/advertised-page/register1.jpg) repeat-y; width:12px; height:18px;}
.advertised-page-register .advertised-page-register2{ background:#fff; height:340px; border-radius:5px;box-shadow:0px 0px 10px #B7B5B5;}
.advertised-page-register .advertised-page-register2 .adpa-register2-rate{ background:#ff8758; width:254px; height:43px; line-height:43px; font-size:18px; color:#fff; margin:0 auto 12px;box-shadow:0px 0px 20px #ff8758;}
.advertised-page-register .advertised-page-register2 .adpa-register2-rate span{ font-size:25px; color:#fcff00;}
.advertised-page-register .advertised-page-register2 .adpa-register2-center{ width:270px; margin:0 auto;}
.advertised-page-register .advertised-page-register2 .adpa-register2-center .adpa-register2-input{ height:50px;}
.advertised-page-register .advertised-page-register2 .adpa-register2-center .adpa-register2-input label.error{ padding-left:0; margin-top:0}
.advertised-page-register .advertised-page-register2 .adpa-register2-center p{position:relative; height:33px;width:270px;margin-bottom: 2px;}
.advertised-page-register .advertised-page-register2 .adpa-register2-center p input[type=text], .advertised-page-register .advertised-page-register2 .adpa-register2-center p input[type=password]{text-indent:3em;}
.advertised-page-register .advertised-page-register2 .adpa-register2-center p .register-icon{ display:block; width:23px; height:26px;position:absolute; left:5px; top:3px;}
.advertised-page-register .advertised-page-register2 .adpa-register2-center p .register-icon-phone{ background-position:-123px 0;}
.advertised-page-register .advertised-page-register2 .adpa-register2-center p .register-icon-imgcode{ background-position:-123px -29px;}
.advertised-page-register .advertised-page-register2 .adpa-register2-center p .register-icon-code{ background-position:-123px -59px;}
.advertised-page-register .advertised-page-register2 .adpa-register2-center p .register-icon-password{ background-position:-123px -90px;}
.advertised-page-register .advertised-page-register2 .adpa-register2-center p.register-imgcode img{ border:1px solid #cccccc; width:99px; height:33px; margin-left:6px;}
.advertised-page-register .advertised-page-register2 .adpa-register2-center p.register-code a{ float:right; color:#ff9a0a; font-size:14px; font-weight:bold;border:1px solid #ff9a0a;width:99px; height:33px; line-height:33px; margin-left:6px;}
.advertised-page-register .advertised-page-register2 .adpa-register2-center p.register-agreement{ height:20px; }
.advertised-page-register .advertised-page-register2 .adpa-register2-center p.register-agreement input{ width:15px; height:15px; }
.advertised-page-register .advertised-page-register2 .adpa-register2-center p.register-submint{height:40px;}
.advertised-page-register .advertised-page-register2 .adpa-register2-center p.register-submint input{height:38px; line-height:38px; font-size:18px;}
.advertised-page-resource{ padding:13px; background:#fff; margin-top:32px;}
.advertised-page-resource .index-resource{ padding:11px 0 24px;}
.advertised-page-resource .index-resource dl {margin-left: 88px;}
.advertised-page-resource .index-resource dl:first-child {margin-left: 0;}
.advertised-page-title{ color:#fff; font-size:30px; font-weight:bold;background:url(../images/advertised-page/title1.png) no-repeat; height:119px; line-height:119px; width:639px; margin:20px auto 35px; }
.advertised-page-title span{ width:639px; height:119px;display:block; }
.advertised-page-product .advertised-page-title span{ background:url(../images/advertised-page/title2.png) no-repeat center;}
.advertised-page-product .new-product-bidding{ margin-bottom:25px; margin-top:0; width:1080px;}
.advertised-page-product .new-product-bidding .newpro-bidding-profit{ width:415px;}
.advertised-page-product .new-product-bidding .newpro-bidding-profit p:first-child{ margin-right:20px;}
.advertised-page-product .new-product-bidding .product-bidding-progress{ width:230px;}
.advertised-page-product .new-product-bidding .product-bidding-progress .progress{ margin-top:30px;}
.advertised-page-product .new-product-bidding .product-bidding-progress .progress-bar-number{ line-height:initial; margin-top:10px;}
.advertised-page-product .new-product-bidding .newpro-bidding-btn{ width:230px;}
.advertised-page-product .index-scattered .product-bidding:last-child{ margin-bottom:25px;}
.advertised-page-safe .advertised-page-title span{ background:url(../images/advertised-page/title3.png) no-repeat center;}
.advertised-page-safe .adpa-safe-main img{ margin-top:25px;}
.advertised-page-team .advertised-page-title span{ background:url(../images/advertised-page/title4.png) no-repeat center;}
.advertised-page-team .adpa-team-main dl{ background:#fff; margin-bottom:10px; width:536px; height:238px; padding:20px 18px;}
.advertised-page-team .adpa-team-main dl dd{ width:360px; margin-left:12px;}
.advertised-page-team .adpa-team-main dl dd span{ font-size:16px; color:#2e1d1d; padding-right:16px;}
.advertised-page-team .adpa-team-main dl dd p{ margin-top:20px; line-height:18px;}
.advertised-page-history{ background:#fbbe68 url(../images/advertised-page/history1.png) no-repeat left bottom; height:632px; margin-top:72px; position:relative;}
.advertised-page-history .advertised-page-title{ position:absolute; top:-57px; left:228px;}
.advertised-page-history .advertised-page-title span{ background:url(../images/advertised-page/title5.png) no-repeat center;}
.advertised-page-history .adpa-history-main{ font-size:18px; font-weight:bold; color:#fff;}
.advertised-page-history .adpa-history-main p{ margin-top:40px;}
/*计划宝分散投资工具*/
.index-plan-tool{ background:#fff url(../images/index/plan1.png) no-repeat right bottom; height:154px; width:100%; overflow:hidden; border-top-left-radius:80px; border-bottom-left-radius:80px; position:relative;}
.index-plan-tool .index-plto-left{background: -webkit-linear-gradient(#ff8069, #ff6544); background: -o-linear-gradient(#ff8069, #ff6544); background: -moz-linear-gradient(#ff8069, #ff6544);background: linear-gradient(#ff8069, #ff6544);width:144px; height:144px; border-radius:50%; margin-left:6px; margin-top:6px; color:#fff;}
.index-plan-tool .index-plto-left .icon{ background-position:-115px -130px; width:37px; height:37px; margin:20px auto 10px;}
.index-plan-tool .index-plto-left .product-bidding-white{background: url(../images/invest/white.png) no-repeat;height: 6px; width: 67px; margin:13px auto;}
.index-plan-tool .index-plto-center{ width:687px;margin-top:30px;font-size:14px; color:#9fa0a0;}
.index-plan-tool .index-plto-center p{ width:50%;}
.index-plan-tool .index-plto-center span{ font-size:52px; padding-left:20px; vertical-align:middle; color:#ff734e;}
.index-plan-tool .index-plto-center span b{ font-size:25px;}
.index-plan-tool .index-plto-right { height:90px; border-left:1px solid #c9c9c9; margin-top:33px;}
.index-plan-tool .index-plto-right a{ width:150px; font-size:16px; margin-top:30px; margin-left:45px; background:#fff;}
.index-plan-tool .index-plto-right a:hover{ background:#f69503;}
.index-plan-tool:hover{box-shadow: 0px 0px 15px #ccc;}
.index-plan-tool .index-plto-bottom{ background:url(../images/index/plan2.png) no-repeat; width:710px; height:56px; position:absolute; left:84px; bottom:0; font-size:18px; line-height:56px; color:#fff;}
.index-plan-tool .index-plto-bottom b.icon{ width:26px; height:26px; background-position:-115px -171px; vertical-align:sub; margin-right:7px;}