@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
.invest-list{ margin-top:30px;}
.invest-list-title ol li{  height:68px; background:#fff;line-height:68px; color:#fff; font-size:22px; border-top-left-radius:5px; border-top-right-radius:5px; }
.invest-list-title ol li{width:50%;text-align:center;cursor:pointer; border-bottom:4px solid #c9c9c9;}
.invest-list-title ol li a{ display:block; color:#9fa0a0;}
.invest-list-title ol li.hover{ border-bottom:4px solid #f69503;}
.invest-list-title ol li.hover a{color:#f69503;}
.invest-list-screen{ background:#fff; height:224px; margin:30px auto; border-top-left-radius:5px; border-top-right-radius:5px; position:relative}
.invest-list-screen4{ background:url(../images/invest/screen1.png) no-repeat; width:273px; height:216px; position:absolute; bottom:0; right:36px;}
.invest-list-screen .invest-list-screen1 { background:#fff; height:70px; line-height:70px; font-size:18px; border-bottom:1px solid #e5e5e5; width:865px;}
.invest-list-screen .invest-list-screen1 ul.invest-list-name li{ width:239px;text-align:center;}
.invest-list-screen .invest-list-screen1 ul.invest-list-name li a{ display:block; color:#9fa0a0;}
.invest-list-screen .invest-list-screen1 ul.invest-list-name li a span.icon{ width:26px; height:26px; vertical-align:middle; margin-right:10px;}
.invest-list-screen .invest-list-screen1 ul.invest-list-name li a span.inli-screen1-icon1{ background-position:0 -76px;}
.invest-list-screen .invest-list-screen1 ul.invest-list-name li a span.inli-screen1-icon2{ background-position:-32px -76px;}
.invest-list-screen .invest-list-screen1 ul.invest-list-name li a span.inli-screen1-icon3{ background-position:-64px -76px;}
.invest-list-screen .invest-list-screen1 ul.invest-list-name li a{ color:#9fa0a0;}
.invest-list-screen .invest-list-screen1 ul.invest-list-name .inli-screen1-beacon a span.inli-screen1-icon1{ background-position:0 -76px;}
.invest-list-screen .invest-list-screen1 ul.invest-list-name .inli-screen1-trade a span.inli-screen1-icon2{ background-position:-32px -76px;}
.invest-list-screen .invest-list-screen1 ul.invest-list-name .inli-screen1-move a span.inli-screen1-icon3{ background-position:-64px -76px;}
.invest-list-screen .invest-list-screen1 ul.invest-list-name .inli-screen1-beacon.hover a{ color:#f28b00;}
.invest-list-screen .invest-list-screen1 ul.invest-list-name .inli-screen1-trade.hover a{ color:#6261e8;}
.invest-list-screen .invest-list-screen1 ul.invest-list-name .inli-screen1-move.hover a{ color:#f76447;}
.invest-list-screen .invest-list-screen1 ul.invest-list-name .inli-screen1-beacon.hover a span.inli-screen1-icon1{ background-position:0 -104px;}
.invest-list-screen .invest-list-screen1 ul.invest-list-name .inli-screen1-trade.hover a span.inli-screen1-icon2{ background-position:-32px -104px;}
.invest-list-screen .invest-list-screen1 ul.invest-list-name .inli-screen1-move.hover a span.inli-screen1-icon3{ background-position:-64px -104px;}
.invest-list-screen2{height:115px; width:865px; border-bottom:1px solid #e5e5e5; padding:0 32px; overflow:hidden;}
.invest-list-screen2 p{ font-size:16px; margin-top:28px;}
.invest-list-screen2 p a{ color:#9fa0a0; padding:5px 12px; border-radius:5px; margin-left:20px;}
.invest-list-screen2 p a.hover{background:#f28b00; color:#fff;}
.invest-list-screen3{height:38px; line-height:38px; width:865px;}
.invest-list-screen3 p{ float:left; width:147px; text-align:center; font-size:16px; cursor:pointer; border-left:1px solid #e5e5e5;}
.invest-list-screen3 p span{ background-position:-35px -19px; width:10px; height:12px; margin-left:6px;}
.invest-list-screen3 p.hover{ color:#f28b00;}
.invest-list-screen3 p.hover span.arrow-down{ background-position:-19px -19px;}
.invest-list-screen3 p.hover span.arrow-up{ background-position:-75px -19px;}
.invest-list-bidding{ margin-top:30px;}
.invest-list-bidding .product-bidding{ height:120px; margin-bottom:12px;}
.invest-list-bidding .product-bidding.hover{ box-shadow: 0px 0px 15px #ccc;}
.invest-list-bidding .product-bidding-left{ height:120px; width:95px; font-size:18px;}
.invest-list-bidding .product-bidding-right{ height:120px; width:985px;}
.invest-list-bidding .product-bidding-right .product-bidding-details .product-bidding-profit{ width:500px;}
.invest-list-bidding .invest-move-bidding .product-bidding-right .product-bidding-details .product-bidding-profit{ width:730px;}
.invest-list-bidding .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-rate{ width:128px;}
.invest-list-bidding .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-term{ width:107px;}
.invest-list-bidding .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-money{ width:190px;}
.invest-list-bidding .invest-move-bidding .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-price{ width:150px;}
.invest-list-bidding .invest-move-bidding .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-number{ width:90px;}

.invest-list-bidding .product-bidding-right .product-bidding-details .product-bidding-progress{ width:226px;}
.invest-list-bidding .product-bidding-right .product-bidding-details .product-bidding-btn{ width:225px;}
.invest-list-bidding .product-bidding-icon{ margin-top:33px;}
.invest-list-bidding .product-bidding-icon .icon{ width:26px; height:26px; margin-bottom:10px;}
.invest-list-bidding .product-bidding-white{ background:url(../images/invest/white.png) no-repeat; width:67px; height:6px; margin:10px auto 0;}
.invest-beacon-bidding .product-bidding-icon .icon{ background-position:0px -163px;}
.invest-trade-bidding .product-bidding-icon .icon{ background-position:-28px -163px;}
.invest-move-bidding .product-bidding-icon .icon{ background-position:-56px -163px;}
.invest-move-bidding .product-bidding-right .product-bidding-details > div{ border:none}
.invest-move-bidding .product-bidding-right .product-bidding-prompt{ position:absolute; right:0; top:0; background:url(../images/invest/move1.png) no-repeat; width:85px; height:61px; color:#fff;}
.invest-move-bidding .product-bidding-right .product-bidding-prompt span{font-size:12px;display:block;transform:rotate(37deg);-ms-transform:rotate(37deg);-moz-transform:rotate(37deg);-webkit-transform:rotate(37deg);-o-transform:rotate(37deg);margin-top:6px;margin-left:36px; line-height:15px;}
.invest-fixed-bidding .new-product-bidding{ height:200px;}
.invest-fixed-bidding .new-product-bidding .newpro-bidding-img{ background:url(../images/invest/new.png) no-repeat; width:256px; height:230px;}
.invest-fixed-bidding .new-product-bidding .newpro-bidding-profit{ margin-left:295px;}
.invest-fixed-bidding .new-product-bidding .newpro-bidding-profit ol li { text-align:center; margin-right:35px; margin-top:65px;}
.invest-fixed-bidding .new-product-bidding .newpro-bidding-profit ol li b{ font-size:54px;}
.invest-fixed-bidding .new-product-bidding .font-color{ margin-top:20px;}
.invest-fixed-bidding .new-product-bidding .newpro-bidding-progress{ width:97px; height:94px; margin-right:56px; margin-top:53px;}
.invest-fixed-bidding .new-product-bidding .newpro-bidding-progress .processingbar { text-align: center;color: #9fa0a0; font-size:16px;  position: relative; width:97px;}
.invest-fixed-bidding .new-product-bidding .newpro-bidding-progress .processingbar font{  display: block;width:97px;position: absolute; left:6px; top:30px; text-align:center;}
.invest-fixed-bidding .new-product-bidding .newpro-bidding-progress .processingbar .processfont{position: absolute; left:6px; top:58px; text-align: center;width: 97px;}
.invest-fixed-bidding .new-product-bidding .newpro-bidding-btn{ width:307px; border-left:1px solid #ccc; margin-top:70px; height:65px;}
.invest-fixed-bidding .new-product-bidding .newpro-bidding-btn .btn-color{ position:absolute; right:77px;}
.invest-fixed-bidding .new-product-bidding .newpro-bidding-btn .product-bidding-explain{ margin-top:55px;}
.invest-fixed-bidding .invest-plan-product{ margin:30px 0;}
.invest-fixed-bidding .invest-plan-product > div{ width:240px; height:310px; background:#fff; margin-left:40px;}
.invest-fixed-bidding .invest-plan-product > div.hover{ box-shadow: 0px 0px 15px #ccc;}
.invest-fixed-bidding .invest-plan-product  h1{ position:relative; height:60px; text-align:center; width:240px; line-height:60px; color:#fff; font-size:22px; border-top-left-radius:5px; border-top-right-radius:5px;}
.invest-fixed-bidding .invest-plan-product h1 p{ background:url(../images/index/prompt1.png) no-repeat; width:58px; height:58px;position:absolute; top:0; right:0;}
.invest-fixed-bidding .invest-plan-product h1 p b{ font-size:12px;display: block;transform: rotate(45deg);-ms-transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg);-o-transform: rotate(45deg);margin-top: -7px;margin-left: 9px;}
.invest-fixed-bidding .invest-plan-product .inpl-product-a h1 p b{ color:#f69503;}
.invest-fixed-bidding .invest-plan-product .inpl-product-b h1 p b{ color:#e6493f;}
.invest-fixed-bidding .invest-plan-product .inpl-product-c h1 p b{ color:#75da4d;}
.invest-fixed-bidding .invest-plan-product .inpl-product-d h1 p b{ color:#762fbd;}
.invest-fixed-bidding .invest-plan-product .inpl-produc-bidding{ width:217px; margin:30px auto 0;}
.invest-fixed-bidding .invest-plan-product .inpl-produc-bidding1 li{ width:50%; border-left:1px solid #c9c9c9;}
.invest-fixed-bidding .invest-plan-product .inpl-produc-bidding1 li span{ font-size:33px;}
.invest-fixed-bidding .invest-plan-product .inpl-produc-bidding .font-color{ margin-top:13px;}
.invest-fixed-bidding .invest-plan-product .inpl-produc-bidding2{ margin:29px auto 20px;}
.invest-fixed-bidding .invest-plan-product .inpl-produc-bidding2 .progress{ width:185px;}
.invest-list-table{ background:#fff; padding-bottom:20px;}
.invest-list-table .inli-table-title{ height:63px; line-height:63px; border-bottom:1px solid #e5e5e5; font-size:16px; padding-left:40px;}
.invest-list-table .inli-table-title a{ display:block; float:left; padding:0 18px; height:62px;}
.invest-list-table .inli-table-title a.hover{ color:#f69503; border-bottom:4px solid #f69503;}
.invest-list-table .inli-table-main{ width:966px; margin:30px auto 0; line-height:23px; font-size:14px;}
.invest-list-table .inli-table-main .inli-table-main1 .inli-table-form{ margin-top:30px;}
.invest-list-table .inli-table-main .inli-table-main1 .inli-table-form table tr td{ background:#eeeeee; border:2px solid #fff; padding:20px 0;line-height: 20px;vertical-align: middle }
.invest-list-table .inli-table-main .inli-table-main1 .inli-table-form table tr.odd td{ background:#e5e5e5; }
.invest-list-table .inli-table-main .inli-table-main1 .inli-table-form table td .rec_1 {text-align: center;font-size: 16px;width: 200px;display: block;float: left;}
.invest-list-table .inli-table-main .inli-table-main1 .inli-table-form table td .rec_2 {text-align:left;font-size: 14px; display: block;padding-left: 44px;padding-right: 44px;float: left;}
/*.invest-fixed-bidding .invest-list-table .inli-table-main .inli-table-main3 p{ border-bottom:1px solid #e5e5e5; padding-bottom:10px; margin-top:20px;}*/

/*专享弹窗*/
.invest-exclusive-popup{width:750px; height:372px; position:fixed; left:50%; top:50%; margin-left:-375px; margin-top:-186px; display:none;}
.invest-exclusive-popup .exclusive-popup-main{ width:750px; height:372px;position:relative;}
.invest-exclusive-popup .exclusive-popup-close{ background:url(../images/invest/exclusive2.png) no-repeat; width:53px; height:53px; position:absolute; left:0; top:0;z-index:1}
.invest-exclusive-popup .exclusive-popup-img{ background:url(../images/invest/exclusive1.png) no-repeat; width:351px; height:347px; position:absolute; left:0; top:26px; z-index:1}
.invest-exclusive-popup .exclusive-popup-product{ background:#c82339 url(../images/invest/exclusive3.png) no-repeat bottom; width:520px; height:350px; border-radius:87px; position:absolute; right:0; top:0; z-index:0;}
.invest-exclusive-popup .exclusive-popup-product .exclusive-popup-icon{ background:url(../images/invest/exclusive4.png) no-repeat; width:136px; height:150px; position:absolute; top:0; right:0;}
.invest-exclusive-popup .exclusive-popup-product .exclusive-popup-title{ font-size:32px; font-weight:bold; color:#fff; margin:37px auto; letter-spacing:0.2em;}
.invest-exclusive-popup .exclusive-popup-product .exclusive-popup-title b{ background-position:0px -356px; width:19px; height:19px;}
.invest-exclusive-popup .exclusive-popup-product .exclusive-popup-profit{ width:308px; border:1px solid #f9c7a6; height:110px; margin:0 auto 24px; border-radius:10px; color:#ffdeb6; padding:0 20px;}
.invest-exclusive-popup .exclusive-popup-product .exclusive-popup-profit > div ol{ border-right:1px solid #f9c7a6; padding-right:12px;}
.invest-exclusive-popup .exclusive-popup-product .exclusive-popup-profit > div p{ font-weight:bold; padding-left:16px;}
.invest-exclusive-popup .exclusive-popup-product .exclusive-popup-time{ color:#fff; font-size:14px; letter-spacing:0.2em;}
.invest-exclusive-popup .exclusive-popup-product .exclusive-popup-btn a{ background:#ffe876; color:#c71a33; display:block; width:209px; height:40px; line-height:40px; text-align:center; font-size:18px; border-radius:15px; margin:23px auto;}
.invest-plan-popup .exclusive-popup-product .exclusive-popup-profit > div{ height:68px; margin:23px auto;}
.invest-plan-popup .exclusive-popup-product .exclusive-popup-profit ol li{ font-size:18px; font-weight:bold; line-height:23px; letter-spacing:0.5em;}
.invest-plan-popup .exclusive-popup-product .exclusive-popup-profit > div p{ font-size:83px; line-height:68px;}
.invest-move-popup .exclusive-popup-product .exclusive-popup-profit > div{ height:55px; margin:30px auto;}
.invest-move-popup .exclusive-popup-product .exclusive-popup-profit ol li{ font-size:15px; font-weight:bold; line-height:18px; letter-spacing:0.5em;}
.invest-move-popup .exclusive-popup-product .exclusive-popup-profit > div p{ font-size:61px; line-height:55px;}

.invest-move-popup2{ width:498px; height:552px; margin-left:-249px; margin-top:-276px; left:50%; top:50%;}
.invest-move-popup2 .move-popup2-main{ padding:0 83px;}
.invest-move-popup2 .move-popup2-main p{ margin-top:20px; font-size:14px; line-height:30px;}
.invest-move-popup2 .move-popup2-main p span{ width:112px; text-align:right; margin-right:15px;}
.invest-move-popup2 .move-popup2-main p b.text-highlight{ font-size:24px; color:#ef5848;}
.invest-move-popup2 .move-popup2-main p .move-popup2-recharge { background:#f69503; color:#fff; width:44px; font-size:12px; height:20px; line-height:20px; margin-top:5px;}
.invest-move-popup2 .move-popup2-main p .move-number-whole{ background:#f69503; color:#fff; width:44px;}

/*债权转让正式上线*/
.transfer-introduction{ background:url(../images/invest/transfer1.jpg) no-repeat center 0, url(../images/invest/transfer2.jpg) repeat-y; width:100%;padding-bottom:60px; overflow:hidden;}
.transfer-introduction-main{ background:#fff; padding:50px 60px; margin-top:379px; font-size:18px;} 
.transfer-introduction-main > div{ margin-bottom:50px;}
.transfer-introduction-main1{ border:1px solid #96d6ee; padding:43px; color:#0a90cc; line-height:30px;}
.transfer-introduction-main1, .transfer-introduction-main2, .transfer-introduction-main4{ position:relative;}
.transfer-introduction-main h1{ font-size:36px; position:absolute;left:265px;}
.transfer-introduction-main1 h1, .transfer-introduction-main2 h1{ width:423px; color:#059edd; background:#fff; top:-24px; }
.transfer-introduction-main4 h1{ width:430px; background:#4dc4f3; color:#fff; height:85px; line-height:85px; top:-42px; border-radius:10px;}
.transfer-introduction-main2{ border:1px solid #96d6ee; padding:43px; }
.transfer-introduction-main3 ol li{ width:316px; height:262px;  margin-bottom:24px; margin-left:5px; }
.transfer-introduction-main3 ol li:first-child{ margin-left:0;}
.transfer-introduction-main3 ol li p.trin-main3-img{ width:218px; height:99px; margin:0 auto;}
.transfer-introduction-main3 ol li p.trin-main3-word{height:168px;background:#c1ecfd; padding:38px 40px 0; line-height:22px; margin-top:-5px; border-radius:10px;}
.transfer-introduction-main4{ background:#f5f5f5; padding:70px 43px 40px; line-height:30px;}

.invest-list-scattered .invest-list-bidding .invest-move-norecord, .invest-list-scattered .invest-list-bidding .invest-scattered-norecord { background:#fff; padding:50px 0;}
.invest-list-scattered .invest-list-bidding .invest-move-norecord span.bg-icon{background-position: -552px -832px; width: 82px;height: 81px;}
.invest-list-scattered .invest-list-bidding .invest-scattered-norecord span.bg-icon{background-position: -612px -64px; width: 78px;height: 87px;}

/*计划宝分散投资工具*/
.invest-fixed-bidding .plan-product-tool{ background:#fff; padding:28px 40px 40px; margin:20px auto;}
.invest-fixed-bidding .plan-product-tool h1{ font-size:24px; color:#524f4f;}
.invest-fixed-bidding .plan-product-tool h1 b.icon{ background-position:-115px -200px; width:30px; height:30px; vertical-align:top; margin-right:7px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main{ border:1px solid #fd7e49; border-radius:7px; margin-top:26px; padding:40px 0 30px; background:url(../images/invest/plan5.png) no-repeat center top;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1{ width:625px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 div{ margin-bottom:30px; font-size:18px; color:#343434;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plan-tool-label{ display:inline-block; width:140px; text-align:right; margin-right:23px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-time{ height:44px; line-height:44px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-time .plan-tool-checkbox{width:122px; height:44px; line-height:44px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-bg .plan-tool-checkbox{ position:relative; text-align:center;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-bg .plan-tool-checkbox input{ position:absolute; top:-3px; left:0; opacity:0;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-time .plan-tool-checkbox input{width:122px; height:44px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-bg .plan-tool-checkbox.hover { background:#f6950a; color:#fff; border-radius:5px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-coupon{ height:34px; line-height:34px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-coupon .plan-tool-checkbox{ width:90px; height:34px; line-height:34px; margin-right:50px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-coupon .plan-tool-checkbox input{width:90px; height:34px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-product{ line-height:24px;margin-bottom:30px; font-size:18px;}

.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-product a{ font-size:24px; margin-right:40px; color:#9fa0a0;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-product a b{width: 26px;height: 26px;vertical-align: middle;margin-right: 10px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-product a.beacon b.icon{ background-position:0 -76px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-product a.trade b.icon{ background-position:-32px -76px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-product .beacon.hover{ color:#f69503;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-product .trade.hover{ color:#6261e8;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-product .beacon.hover b.icon{ background-position:0 -104px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-product .trade.hover b.icon{ background-position:-32px -104px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-recharge{ font-size:14px; margin-left:177px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-recharge span{ color:#999999;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-recharge a{ color:#f6950a; padding-left:10px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main2{ width:372px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main2 .plantool-main2-rate1{ font-size:24px; color:#fff;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main2 .plantool-main2-rate2{ margin:105px auto 42px; position:relative;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main2 .plantool-main2-rate2 .plantool-main2-number{ font-size:70px; color:#ff6544;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main2 .plantool-main2-rate2 .plantool-main2-number .icon{ background-position:-98px -78px; width:16px; height:16px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main2 .plantool-main2-rate2 .plantool-main2-popup{ background:#fff; border:1px solid #c9c9c9; width:242px; padding:6px 8px; color:#999999; line-height:15px; position:absolute; left:85px; top:70px; display:none;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main2 .plantool-main2-rate2 .plantool-main2-popup .icon{background-position:-93px -16px; width:10px; height:5px; position:absolute; top:-5px; left:200px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main2 .plantool-main2-btn a{ width:233px;}
.invest-fixed-bidding .plan-list-table .inli-table-main2 table tr td{background:#fee3bc;border:2px solid #fff;padding:20px 0;line-height:20px;vertical-align:middle;}
.invest-fixed-bidding .plan-list-table .inli-table-main2 table tr td .rec-1{text-align:center;font-size:16px;width:172px;display:block;float:left;}
.invest-fixed-bidding .plan-list-table .inli-table-main2 table tr td .rec-2{text-align:left;font-size:14px;display:block;padding-left:44px;padding-right:44px;float:left;}
.invest-fixed-bidding .plan-list-table .inli-table-main2 table tr td:last-child{ position:relative;}
.invest-fixed-bidding .plan-list-table .inli-table-main2 table tr td .rec-table-triangle{width:17px;height:28px;position:absolute;left:-3px;top:32%;}
.invest-fixed-bidding .plan-list-table .inli-table-main2 table tr td .rec-table-triangle1{background-position:-555px -368px;}
.invest-fixed-bidding .plan-list-table .inli-table-main2 table tr td .rec-table-triangle2{background-position:-580px -368px;}
.invest-fixed-bidding .plan-list-table .inli-table-main2 table tr.odd td{background:#fef6e9;}
.invest-fixed-bidding .plan-list-table .inli-table-main3 p{ font-size:14px; padding:20px 35px; background:#fde2be; margin-bottom:2px;}
.invest-fixed-bidding .plan-list-table .inli-table-main3 p.odd{ background:#fef6ea;}
.invest-fixed-bidding .plan-list-table .inli-table-main3 p span{ color:#333333;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-money{ position:relative;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-money  .plantoolform-money-popup{ width:178px; height:57px; border:1px solid #c9c9c9; background:#fff; position:absolute; top:-10px; right:8px; padding:9px 10px; font-size:12px; display:none;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-money  .plantoolform-money-popup .left-arrow{ background-position:-93px -23px; width:9px; height:12px; position:absolute; top:17px; left:-7px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-money  .plantoolform-money-popup .prompt-icon{ background-position:-99px -99px; width:12px; height:12px; margin-top:3px; }
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-money  .plantoolform-money-popup span{ line-height:20px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-money .jia{ background-position:-100px -114px; width:8px; height:7px; position:absolute; top:9px; right:213px;}
.invest-fixed-bidding .plan-product-tool .plan-tool-main .plan-tool-main1 .plantoolform-money .jian{ background-position:-100px -123px; width:8px; height:7px; position:absolute; top:18px; right:213px;}

/*计划宝分散投资工具列表*/
.invest-list-plan .plan-list-main1{ background:#fff; padding:0 40px;}
.invest-list-plan .plan-list-title{ font-size:24px; padding:23px 0;color:#524f4f;}
.plan-matching-product{ border:1px solid #e5e5e5; height:770px; overflow:hidden;position: relative;}
.plan-matching-product .product-bidding.hover{ box-shadow:none;}
.plan-matching-product .product-bidding{ height:114px;}
.plan-matching-product .product-bidding-right{ width:973px; border-bottom:1px solid #e5e5e5; height:114px;}
.plan-matching-product .product-bidding-right .product-bidding-name b.icon{ width:26px; height:26px; vertical-align:middle; margin-right:5px;}
.plan-matching-product .invest-beacon-bidding .product-bidding-right .product-bidding-name b.icon{ background-position:0 -104px;}
.plan-matching-product .invest-trade-bidding .product-bidding-right .product-bidding-name b.icon{ background-position:-32px -104px;}
.plan-matching-product .product-bidding-right .product-bidding-details .product-bidding-profit{ width:718px}
.plan-matching-product .product-bidding-right .product-bidding-details .product-bidding-profit .product-bidding-progress{ margin-top:5px; width:180px;}
.plan-matching-product .product-bidding-right .product-bidding-details .product-bidding-profit .product-bidding-progress span b{ font-size:25px;}
.plan-matching-product .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-money{ width:230px;}
.plan-matching-product .product-bidding-right .product-bidding-details .product-bidding-profit li.product-bidding-rate{ width:140px;}
.plan-matching-product .item{height: 50px;line-height: 50px;margin-bottom: 30px;color: #fff}
.invest-list-plan .invest-list-bidding .product-bidding-matching{ font-size:18px; color:#666666; margin-top:12px;}
.invest-list-plan .invest-list-bidding .product-bidding-matching b{ color:#f84d4d;}
.invest-list-plan .product-bidding .product-bidding-right .product-bidding-details .product-bidding-btn .product-bidding-explain{ margin-top:18px;} 
.invest-list-plan .plan-list-main1 .plan-list-tool{height:120px;margin-bottom:14px;}
.invest-list-plan .plan-list-main1 .plan-list-tool > div{ border-right:1px solid #c9c9c9; height:80px; margin-top:20px; padding-left:85px; font-size:18px; color:#343434; padding-top:5px;}
.invest-list-plan .plan-list-main1 .plan-list-tool .plan-list-tool3{ border-right:none; width:368px;}
.invest-list-plan .plan-list-main1 .plan-list-tool .plan-list-tool1{ width:242px; padding-left:0;}
.invest-list-plan .plan-list-main1 .plan-list-tool .plan-list-tool2{ width:390px;}
.invest-list-plan .plan-list-main1 .plan-list-tool .plan-list-tool1 .plli-tool-rate1{ font-size:36px; color:#f84d4d; margin-bottom:15px;}
.invest-list-plan .plan-list-main1 .plan-list-tool .plan-list-tool1 .plli-tool-rate2{color:#000;}
.invest-list-plan .plan-list-main1 .plan-list-tool .plan-list-tool2 p b, .invest-list-plan .plan-list-main1 .plan-list-tool .plan-list-tool3 p b{ padding-left:24px;}
.invest-list-plan .plan-list-main1 .plan-list-tool .plan-list-tool2 p:first-child, .invest-list-plan .plan-list-main1 .plan-list-tool .plan-list-tool3 p:first-child{ margin-bottom:30px;}
.invest-list-plan .plan-list-main2{ margin-top:48px;}
.invest-list-plan .plan-list-main2 .plan-list-btn{ height:68px; line-height:68px; font-size:24px; background:#fff;}
.invest-list-plan .plan-list-main2 .plan-list-btn .plan-list-btn1{ width:800px; padding-right:60px; color:#000000;}
.invest-list-plan .plan-list-main2 .plan-list-btn .plan-list-btn1 b{ color:#f92121;}
.invest-list-plan .plan-list-main2 .plan-list-btn .plan-list-btn2 a{ display:block; width:280px; background:#f4950a; color:#fff; border-top-right-radius:5px; border-bottom-right-radius:5px;}
.plan-list-popup{ background:#fff; width:1080px; height:840px; position:fixed; left:50%; top:50%; margin-left:-540px; margin-top:-420px; padding:40px 40px; display:none;}
.plan-list-popup .plan-matching-product{ height:570px;}
.plan-list-popup .product-bidding .product-bidding-right .product-bidding-details .product-bidding-btn{ width:220px; border-right:none;}
.plan-list-popup .product-bidding .product-bidding-right .product-bidding-details .product-bidding-btn .product-bidding-explain{ font-size:14px; color:#000; margin-top:10px;}
.plan-list-popup .product-bidding-btn .product-bidding-tender{ background:url(../images/invest/plan2.png) no-repeat; width:48px; height:48px; margin:0 auto;}
.plan-list-popup .product-bidding-btn .product-bidding-success{ background:url(../images/invest/plan3.png) no-repeat; width:48px; height:48px; margin:0 auto;}
.plan-list-popup .product-bidding-btn .product-bidding-fail{ background:url(../images/invest/plan4.png) no-repeat; width:48px; height:48px; margin:0 auto;}
.plan-list-popup .product-bidding .product-bidding-right .product-bidding-details .product-bidding-btn{ margin-top:-5px;}
.plan-list-popup .tender-loading{ font-size:18px; color:#696969; margin-top:20px;}
.plan-list-popup .plan-list-success{ font-size:18px; color:#696969; margin-top:28px;}
.plan-list-popup .plan-list-success b{ padding:0 10px;}
.plan-list-popup .plan-list-success span{ padding:0 5px; color:#f44040; font-size:24px;}
.plan-list-popup .plan-list-success a{ width:320px; font-size:16px; margin-top:26px;}
.plan-list-popup .plan-list-success p{ display:none;}
.invest-list-plan .invest-list-bidding .product-bidding .product-bidding-right .product-bidding-details .product-bidding-btn{ margin-top:0;}
.plan-list-popup .product-bidding .product-bidding-right .product-bidding-details .product-bidding-btn2{ display:none;}
/*转让标完成*/
.invest-list-bidding .product-bidding .product-bidding-right .product-bidding-details .product-bidding-btn{ margin-top:12px;}
.invest-move-completed{ position:relative;}
.invest-move-completed .inmo-completed-bg{ position:absolute; width:100%; height:100%; background:rgba(255, 255, 255, 0.5);}
/*分散投资弹窗滚动条*/
.plan-list-popup #progressBar {width:1000px;height:36px;background-color:#eeeeee;margin:0 auto;margin-top:30px;-webkit-border-radius:2em;-moz-border-radius:2em;border-radius:2em;position:relative;}
.plan-list-popup #progressBar_Track {width:200px;height:36px;background-color:#f69503;-webkit-border-radius:2em;-moz-border-radius:2em;border-radius:2em;}
.plan-list-popup #progressBarTxt{text-align:center; color:#fff; font-size:18px; position:absolute; left:447px; top:7px;}
