@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}

.invite-coupon{ background:#ffffd8; padding-bottom:70px;}
.invite-coupon-banner{ height:671px; background:url(../images/invite-coupon/banner.jpg) no-repeat center;}
.invite-coupon-main{ width:1179px; margin:14px auto 0; color:#707271;}
.invite-coupon-main .invite-coupon-rule{ font-size:18px; color:#f69503; line-height:24px;}
.invite-coupon-main .invite-coupon-rule li{ border:3px solid #f69503; width:355px; height:396px; margin-left:56px; padding:0 25px;}
.invite-coupon-main .invite-coupon-rule li:first-child{ margin-left:0;}
.invite-coupon-main h2{ font-size:24px; color:#fff; background:url(../images/invite-coupon/title3.png) center; width:290px; height:52px; line-height:47px; margin:23px auto 27px;}
.invite-coupon-main .invite-coupon-rule li.invite-coupon-way p span{ width:px; height:px; border-radius:50%; background:#f69503; width:26px; height:26px; border:3px solid #fff; color:#fff; text-align:center; line-height:20px;}
.invite-coupon-main .invite-coupon-rule li.invite-coupon-way p b{ width:265px;}
.invite-coupon-main .invite-coupon-rule li.invite-coupon-way p{ margin-top:18px;}
.invite-coupon-main .invite-coupon-rule li .invite-coupon-img{ margin-bottom:35px;}
.invite-coupon-main .invite-coupon-btn a{ display:block; width:400px; height:80px; line-height:80px; font-size:36px; color:#fff; background:#f69503; margin:54px auto 0;}
.invite-coupon-main3 { margin-top:50px;}
.invite-coupon-main3 .invite-coupon-friend{border: 3px solid #f69503; height:444px; margin:72px auto 0;}
.invite-coupon-main3 .invite-coupon-friend .inco-friend-list{ font-size:18px;}
.invite-coupon-main3 .invite-coupon-friend .inco-friend-list ul{ padding-left:20px;}
.invite-coupon-main3 .invite-coupon-friend .inco-friend-list ul li{ height:50px; line-height:50px; margin-top:10px;}
.invite-coupon-main3 .invite-coupon-friend .inco-friend-list ul .inco-friend-left b{ color:#f49503}
.invite-coupon-main3 .invite-coupon-friend .inco-friend-list ul .inco-friend-right span{color: #fff; display: inline-block;width: 78px;height: 22px;text-align: center;line-height: 22px;font-size: 16px; background: -webkit-linear-gradient(#f5b538, #f4950a); background: -o-linear-gradient(#f5b538, #f4950a);background: -moz-linear-gradient(#f5b538, #f4950a); background: linear-gradient(#f5b538, #f4950a);border-radius: 3px;margin: 0 5px;}
.invite-coupon-main3 .invite-coupon-friend .inco-friend-list ul .inco-friend-right b{ font-size:12px; color:#b0b0b0;}
.invite-coupon-main3 .invite-coupon-friend .inco-friend-list ul.inco-friend-list1{ width:542px;border-right: 3px solid #f69503;}
.invite-coupon-main3 .invite-coupon-friend .inco-friend-list ul.inco-friend-list1 .inco-friend-left{ width:230px;}
.invite-coupon-main3 .invite-coupon-friend .inco-friend-list .inco-friend-right{border-left: 1px solid #e5e5e5; padding-left:19px;}
.invite-coupon-main3 .invite-coupon-friend .inco-friend-list ul.inco-friend-list2{ width:630px;}
.invite-coupon-main3 .invite-coupon-friend .inco-friend-list ul.inco-friend-list2 .inco-friend-left{ width:277px;}