@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}

.bid-popup{ width:498px; height:424px; margin-left:-289px; margin-top:-212px;}
.bid-popup-cen{ width:348px; margin:50px auto 0; font-size:14px;}
.bid-popup-cen p{ margin-bottom:25px;color:#333;}
.bid-popup-cen p span{ display:inline-block; width:106px; margin-right:10px; text-align:right;}
.bid-popup-cen p b{ color:#ef5848; font-size:24px;}
.bid-popup-cen p a{ color:#333; float:right; line-height:24px;}
.bid-popup-cen p.bid-popup-form span{ line-height:30px;}
.bid-popup-cen p.bid-popup-form input{ width:200px;}
.bid-popup-cen p.bid-popup-form strong{ border:1px solid #ccc; border-left:none; line-height:31px; text-align:center; width:32px;}
.bid-popup-cen p #bidpopupsubmit{ width:152px; letter-spacing:10px; margin:0 auto;}

.payment-popup{ width:600px; height:380px; background:#fff; position:fixed; left:50%; top:50%; margin-left:-300px; margin-top:-190px; border-radius:10px; font-size:14px;}
.payment-popup h1{ background:#0acb9c; height:80px; line-height:80px; text-align:center; color:#fff; font-size:24px; border-top-left-radius:10px; border-top-right-radius:10px; position:relative;}
.payment-popup h1 b{ display:inline-block; width:12px; height:12px; background:url(../image/after-login/icon.png) no-repeat; background-position:-163px -97px; position:absolute; top:34px; right:21px;}
.payment-popup-main1{ width:477px; margin:18px auto 0;}
.payment-popup-main1 p{ margin-bottom:18px;}
.payment-popup-main2{ border-top:1px solid #ccc;}
.payment-popup-main2 a.btn-color{ width:160px; margin-left:100px; margin-top:30px;}











