/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*{ padding:0; margin:0; }

.product-details > div{ background:#fff;}
.product-details1{ height:330px; margin:30px auto; overflow:hidden}
.product-details1 .product-details1-left{ width:700px; margin:40px 40px;}
.product-details1 .product-details1-left h1{ border-bottom:1px solid #e5e5e5; padding-bottom:10px; font-size:14px;}
.product-details1 .product-details1-left h1 span{ color:#f69503; font-size:20px;}
.product-details1 .product-details1-left ol{ margin-top:56px;}
.product-details1 .product-details1-left ol li{ float:left;text-align:center;}
.product-details1 .product-details1-left ol p{ font-size:18px;}
.product-details1 .product-details1-left ol p span{ font-size:42px;}
.product-details1 .product-details1-left ol p.font-color{ margin-top:12px; font-size:14px;}
.product-details1 .product-details1-left ul{ margin-top:30px;}
.product-details1 .product-details1-left ul li{ color:#9fa0a0; margin-top:10px; font-size:14px;}
.product-details1 .product-details1-left ul li b{ color:#727171;}
.product-details1 .product-details1-left ul li .progress{ width:320px; margin:4px 4px 0 10px;}
.product-details1 .product-details1-right{ width:300px; border-left:1px solid #e5e5e5; height:330px; padding:40px 40px;}
.product-details1 .product-details1-right h2{ font-size:18px;}
.product-details1 .product-details1-right h2 span{ font-size:32px;}
.product-details1 .product-details1-right .prode1-right-main2{ margin:10px 0 30px 0; font-size:14px;}
.product-details1 .product-details1-right .prode1-right-main3{ font-size:14px;}
.product-details1 .product-details1-right .prode1-right-main3 a.prode1-right-login{ text-decoration:underline; color:#f69503;}
.product-details1 .product-details1-right .prode1-right-main3 a.prode1-right-recharge{ width:44px; height:20px; line-height:19px; margin-top:-3px; text-align:center; border-radius:5px; background:#f69503; color:#fff;}
.product-details1 .product-details1-right .prode1-right-main4{ margin:13px 0 9px 0;}
.product-details1 .product-details1-right .prode1-right-main5 b{ color:#f69503;}
.product-details1 .product-details1-right .prode1-right-purchased{ background:url(../images/details/details1.png) bottom right no-repeat; width:269px; height:282px;}
.move-details .product-details1 .product-details1-right .prode1-right-purchased{ background:url(../images/details/details3.png) bottom right no-repeat; height:316px;}
.product-details1 .product-details1-right .prode1-right-purchased b{font-size: 24px;color: #ef5848}
.product-details1 .product-details1-right .prode1-right-main6{ margin:22px 0 13px 0;}
.beacon-details .product-details1 .product-details1-left ul li .small-icon b{ margin-top:-4px;}
.product-details1 .product-details1-right .prode1-right-nologin .prode1-right-main3{ margin-top:60px;}
.product-details1 .product-details1-right .prode1-right-nologin .prode1-right-btn{ margin-top:15px;}
.product-details1 .product-details1-right .prode1-right-nologin .prode1-right-btn a{ margin-bottom:8px; width:220px; height:35px;}
.product-details1 .product-details1-right .prode1-right-nologin .prode1-right-btn .btn-color1:hover{ background:none; color:#f4950a;}
.product-details2 .invest-list-table .inli-table-main{ width:905px; margin:20px auto; color:#707271;}
.product-details2 .invest-list-table .inli-table-main > div{ display:none;}
.product-details2 .invest-list-table .inli-table-main .product-details2-bottom{ margin-bottom:30px;}
.product-details2 .invest-list-table .inli-table-main h2{ height:45px; border-bottom:1px solid #e5e5e5; font-size:18px; color:#727171; margin-bottom:28px;}
.product-details2 .invest-list-table .inli-table-main h2 span{ border-bottom:1px solid #f69503; padding:0 4px;line-height:44px; display:inline-block;}
.product-details2 .invest-list-table .inli-table-main h2 span b.bg-icon{ display:inline-block; width:44px; height:34px; vertical-align:middle; margin-right:5px;}
.product-details2 .invest-list-table .inli-table-main h2 span b.advantage-icon{ background-position:-555px -216px;}
.product-details2 .invest-list-table .inli-table-main h2 span b.issuer-icon{ background-position:-555px -290px;}
.product-details2 .invest-list-table .inli-table-main h2 span b.introduction-icon{ background-position:-555px -253px;}
.product-details2 .invest-list-table .inli-table-main h2 span b.moneyflow-icon{ background-position:-555px -328px;}
.product-details2 .invest-list-table .inli-table-main h2 span b.borrowerinfo-icon{ background-position:-555px -402px;}
.product-details2 .invest-list-table .inli-table-main h2 span b.disclosureinfo-icon{ background-position:-555px -438px;}
.product-details2 .invest-list-table .inli-table-main h2 span b.applyinformation-icon{background-position:-605px -216px;}
.product-details2 .invest-list-table .inli-table-main h2 span b.loanagreement-icon{background-position:-605px -253px;}
.product-details2 .invest-list-table .inli-table-main h2 span b.spotinvestigate-icon{background-position:-605px -400px;}
.product-details2 .invest-list-table .inli-table-main h2 span b.repaymentsource-icon{background-position:-605px -287px;}
.product-details2 .invest-list-table .inli-table-main h2 span b.managementmethod-icon{background-position:-605px -324px;}
.product-details2 .invest-list-table .inli-table-main h2 span b.guaranteemode-icon{background-position:-605px -362px;}
.product-details2 .invest-list-table .inli-table-main .prde-product-advantage ol li{margin-left:83px;}
.farming-details .product-details2 .invest-list-table .inli-table-main .prde-product-advantage ol li{margin-left:100px;}
.product-details2 .invest-list-table .inli-table-main .prde-product-advantage ol li p{ margin-top:18px;}
.product-details2 .invest-list-table .inli-table-main .prde-product-advantage ol li:first-child{ margin-left:0;}
.product-details2 .invest-list-table .inli-table-main .prde-issuer-profile > p{ margin-top:25px;}
.product-details2 .invest-list-table .inli-table-main .prde-product-introduction .prde-prin-table, .product-details2 .invest-list-table .inli-table-main .prde-borrower-info .prde-boin-table { margin-top:30px;}
.product-details2 .invest-list-table .inli-table-main .prde-product-introduction .prde-prin-table tr td, .product-details2 .invest-list-table .inli-table-main .prde-borrower-info .prde-boin-table tr td, .product-details2 .invest-list-table .inli-table-main .prde-disclosure-info .prde-diin-table tr td{ background:#fee3bc; border:2px solid #fff; padding:20px 0;line-height: 20px;vertical-align: middle }
.product-details2 .invest-list-table .inli-table-main .prde-product-introduction .prde-prin-table tr.odd td, .product-details2 .invest-list-table .inli-table-main .prde-disclosure-info .prde-diin-table tr.odd td{ background:#fef6e9; }
.product-details2 .invest-list-table .inli-table-main .prde-product-introduction .prde-prin-table td .rec-1, .product-details2 .invest-list-table .inli-table-main .prde-disclosure-info .prde-diin-table td .rec-1 {text-align: center;font-size: 16px;width: 172px;display: block;float: left;}
.product-details2 .invest-list-table .inli-table-main .prde-product-introduction .prde-prin-table td .rec-2, .product-details2 .invest-list-table .inli-table-main .prde-disclosure-info .prde-diin-table td .rec-2 {text-align:left;font-size: 14px; display: block;padding-left: 44px;padding-right: 44px;float: left;}
.product-details2 .invest-list-table .inli-table-main .prde-product-introduction .prde-prin-table tr td:last-child, .product-details2 .invest-list-table .inli-table-main .prde-disclosure-info .prde-diin-table tr td:last-child{ position:relative;}
.product-details2 .invest-list-table .inli-table-main .prde-product-introduction .prde-prin-table tr td .rec-table-triangle, .product-details2 .invest-list-table .inli-table-main .prde-disclosure-info .prde-diin-table tr td .rec-table-triangle{ width:17px; height:28px; position:absolute; left:-3px; top:32%;}
.product-details2 .invest-list-table .inli-table-main .prde-product-introduction .prde-prin-table tr td .rec-table-triangle1, .product-details2 .invest-list-table .inli-table-main .prde-disclosure-info .prde-diin-table tr td .rec-table-triangle1{ background-position:-555px -368px;}
.product-details2 .invest-list-table .inli-table-main .prde-product-introduction .prde-prin-table tr td .rec-table-triangle2, .product-details2 .invest-list-table .inli-table-main .prde-disclosure-info .prde-diin-table tr td .rec-table-triangle2{ background-position:-580px -368px;}
.product-details2 .invest-list-table .inli-table-main .prde-money-flow > p{ margin-top:58px; margin-bottom:30px;}
.product-details2 .invest-list-table .inli-table-main .prde-money-flow .prde-mofl-main1 span{ display:block; float:left; width:284px; border-top:1px solid #e5e5e5; margin-top:10px;}
.product-details2 .invest-list-table .inli-table-main .prde-money-flow .prde-mofl-main1 b{ display:block; float:left; width:336px; text-align:center; font-size:18px;}
.product-details2 .invest-list-table .inli-table-main .prde-borrower-info .prde-boin-table tr td.odd{ background:#fef6e9; }
.product-details2 .invest-list-table .inli-table-main .prde-borrower-info .prde-boin-table td .rec-1 {text-align: center;font-size: 16px;}
.product-details2 .invest-list-table .inli-table-main .prde-borrower-info .prde-boin-table td .rec-2{padding-left: 35px;}
.product-details2 .invest-list-table .inli-table-main .prde-table-investigate .prde-disclosure-info tr td .rec-2 a{ display:block; float:left; width:210px; height:160px; margin-right:2px;}
.product-details2 .invest-list-table .inli-table-main .prde-table-investigate .prde-disclosure-info tr td .rec-2 a span{background:#707070; width:210px; height:160px; display:block; color:#fff; font-size:18px; text-align:center; line-height:160px; }

.product-details2 .invest-list-table .inli-table-main .prde-table-details .prde-borrower-noinfo span.bg-icon{  width:73px; height:89px; background-position:-524px -584px;}
.product-details2 .invest-list-table .inli-table-main .prde-table-details .prde-borrower-noinfo a b.bg-icon{ display:inline-block;width:24px; height:24px; background-position:-540px -695px; margin-left:8px; vertical-align:middle;}
.product-details2 .invest-list-table .inli-table-main .prde-table-investrecord .prde-no-investrecord span.bg-icon{  width:82px; height:87px; background-position:-524px -493px;}

.invest-details-popup{ background:#fff; position:fixed; left:50%; top:50%; font-size:14px;margin-left:-300px; margin-top:-200px; width:600px; height:400px; }
.invest-details-popup h1{ background:#f69503; font-size:18px; font-weight:bold; height:52px; line-height:52px; color:#fff; border-top-left-radius:5px; border-top-right-radius:5px;}
.invest-details-popup h1 span{ float:left; margin-left:40px;}
.invest-details-popup h1 b{ float:right; margin-right:40px; background:url(../images/after-login/icon.png) no-repeat; width:13px; height:13px; background-position:-163px -97px; margin-top:20px;}
.invest-details-popup .inde-popup-commain{ text-align:center; color:#333;}
.invest-details-popup .inde-popup-commain p{ margin-top:20px;}
.invest-details-popup .inde-popup-commain .inde-popup-icon{ width:98px; height:98px; background:url(../images/after-login/icon.png) no-repeat; margin:20px auto 0;}
.invest-details-popup .inde-popup-commain .inde-popup-success{ background-position:-344px -201px;}
.invest-details-popup .inde-popup-commain .inde-popup-fail{ background-position:-344px -304px;}
.invest-details-popup .inde-popup-commain .inde-popup-commain1{ font-weight:bold; font-size:30px;}
.invest-details-popup .inde-popup-commain .inde-popup-commain4{margin:20px auto 0; width:330px;}
.invest-details-popup2 h1{ background:#e54e3f;} 
/*转让*/
.move-details .product-details1, .move-details .product-details1 .product-details1-right{ height:356px;}
.move-details .product-details1 .product-details1-left ul li{ margin-top:16px;}
.move-details .product-details1 .product-details1-right .prode1-right-main2{ margin-bottom:20px;}
.move-details .product-details1 .product-details1-right .prode1-right-main7{ margin-top:15px;}
.move-details .product-details1 .product-details1-right .prode1-right-main7 span{ margin-right:10px;}
.move-details .product-details1 .product-details1-right .prode1-right-main4 .num_box .num{ margin-bottom:11px;}
.move-details .product-details1 .product-details1-right .prode1-right-main4 .number-whole{color: #fff; background: #f6950a;width: 42px;height: 30px; line-height:30px; font-size:14px;text-align: center;border-radius:3px;}
.move-details .product-details1 .product-details1-right .prode1-right-main4{ margin-bottom:0;}
.move-details .product-details1 .product-details1-right .prode1-right-main6{ margin:0;}
.mode-secret-popup{ background:#fff; position:fixed; left:50%; top:50%; margin-left:-327px; margin-top:-200px; width:654px; height:400px; padding:43px 57px 0; font-size:14px; display:none;}
.mode-secret-popup .mode-secret-main2{ margin-top:26px;line-height:36px;}
.mode-secret-popup .mode-secret-main3{ margin-top:33px; border-top:1px solid #cccccc; padding-top:35px;}
.mode-secret-popup .mode-secret-main3 a{ width:160px; float:left; color:#fff; margin-left:72px;}
/*土猪养殖介绍*/
.farming-introduce{ background:url(../images/farming-introduce/banner.jpg) no-repeat center 0, url(../images/farming-introduce/bg.jpg) repeat-y; width:100%;padding-bottom:60px;}
.farming-introduce .main{ padding-top:526px; width:1075px; color:#333;}
.farming-introduce .farming-introduce-top{ background:url(../images/farming-introduce/top.png) repeat-x; height:21px;}
.farming-introduce .farming-introduce-bottom{ background:url(../images/farming-introduce/bottom.png) repeat-x; height:21px;}
.farming-introduce .farming-introduce-main{ background:#fff; padding:10px 40px 88px;}
.farming-introduce .farming-introduce-main > div{ margin-top:92px;}
.farming-introduce .farming-introduce-main .farming-introduce-common{border-radius:10px; padding:70px 50px 30px; position:relative;}
.farming-introduce .farming-introduce-main .farming-introduce-common h1{ color:#fff; font-size:36px; font-weight:bold; line-height:109px; width:510px; height:102px; padding-left:20px; position:absolute; left:20px; top:-56px; }
.farming-introduce .farming-introduce-main h1 b{ display:inline-block; border-left:2px solid #fff; height:42px; margin:0 20px; vertical-align:sub;}
.farming-introduce .farming-introduce-main .farming-introduce-one{ background:#f0f4fe; }
.farming-introduce .farming-introduce-main .farming-introduce-one h1{ background:url(../images/farming-introduce/title1.png) no-repeat;}
.farming-introduce .farming-introduce-main .farming-introduce-one .fain-one-left{ width:623px; font-size:18px; line-height:28px;}
.farming-introduce .farming-introduce-main .farming-introduce-two{ background:#fef8ef; }
.farming-introduce .farming-introduce-main .farming-introduce-two h1{ background:url(../images/farming-introduce/title2.png) no-repeat;}
.farming-introduce .farming-introduce-main .farming-introduce-two h2{ margin-bottom:32px; font-weight:bold; color:#f3be56; font-size:32px;}
.farming-introduce .farming-introduce-main .farming-introduce-two h2 span{ background:url(../images/farming-introduce/two1.png) no-repeat; width:17px; height:34px; display:inline-block; vertical-align:middle; margin-right:20px;}
.farming-introduce .farming-introduce-main .farming-introduce-two ol li{ float:left; background:#fff; margin-left:12px; margin-bottom:40px;}
.farming-introduce .farming-introduce-main .farming-introduce-two ol li .fain-two-profit1{ font-weight:bold; font-size:18px; margin:22px 0 15px;}
.farming-introduce .farming-introduce-main .farming-introduce-two ol li .fain-two-profit2{ font-size:18px; line-height:22px;}
.farming-introduce .farming-introduce-main .farming-introduce-two .fain-two-profit li{ height:437px; padding:16px 14px; width:290px;}
.farming-introduce .farming-introduce-main .farming-introduce-two .fain-two-safe li{ height:523px; padding:17px 16px; width:441px;}
.farming-introduce .farming-introduce-main .farming-introduce-btn a{ display:block; width:550px; height:70px; line-height:70px;color:#fff; font-weight:bold; font-size:36px; background:#5984f1; margin:66px auto 0;}
.farming-introduce .farming-introduce-prompt{ color:#fff; font-size:18px; margin-top:40px;}
/*盼信标*/
.beacon-details-table .prde-apply-information .prde-apin-img a, .beacon-details-table .prde-spot-investigate .prde-apin-img a{ margin-left:8px;}
.beacon-details-table .prde-apply-information .prde-apin-img a, .beacon-details-table .prde-apply-information .prde-apin-img a img, .beacon-details-table .prde-spot-investigate .prde-apin-img a, .beacon-details-table .prde-spot-investigate .prde-apin-img a img{ width:220px; height:138px;}
.beacon-details-table .prde-apply-information .prde-apin-img a:first-child, .beacon-details-table .prde-loan-agreement .prde-apin-img a:first-child, .beacon-details-table .prde-spot-investigate .prde-apin-img a:first-child{margin-left:0px;}
.beacon-details-table .prde-loan-agreement .prde-apin-img a, .beacon-details-table .prde-loan-agreement .prde-apin-img a img{ width:135px; height:175px;}
.beacon-details-table .prde-loan-agreement .prde-apin-img a{ margin-left:19px;}




